dwd/code/DWD_warnings_nodered_flow.json
[{"id":"0e743e1186a8e559","type":"server-state-changed","z":"00b34f7cdcf95c18","name":"1. DWD Warnungen triggern","server":"e5ff3427.b49de8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["sensor.dwd_warnungen_hoerstel_current_warning_level","sensor.dwd_warnungen_hoerstel_advance_warning_level"],"entityidfiltertype":"list","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":180,"y":80,"wires":[["bf0ca8e5e611bbed"],[]]},{"id":"7c25628b38b24d94","type":"api-call-service","z":"00b34f7cdcf95c18","name":"5.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":280,"wires":[[]]},{"id":"db43f088ab1b3b22","type":"moment","z":"00b34f7cdcf95c18","name":"3.a Datumsformat \"von\" umwandeln","topic":"","input":"payload.start","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.start","outputType":"msg","outTz":"Europe/Berlin","x":240,"y":180,"wires":[["5cf3819fbb105226"]]},{"id":"5cf3819fbb105226","type":"moment","z":"00b34f7cdcf95c18","name":"3.b Datumsformat \"bis\" umwandeln","topic":"","input":"payload.end","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.end","outputType":"msg","outTz":"Europe/Berlin","x":560,"y":180,"wires":[["25dd55c7d827268f"]]},{"id":"f57145c3b2f8e440","type":"api-call-service","z":"00b34f7cdcf95c18","name":"5.c Nachricht an Dashboard senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":400,"wires":[[]]},{"id":"ea9493b3db06cbf1","type":"api-call-service","z":"00b34f7cdcf95c18","name":"5.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":340,"wires":[[]]},{"id":"bf0ca8e5e611bbed","type":"function","z":"00b34f7cdcf95c18","name":"2. Schleife über alle Warnungen","func":"msg.payload = [];\nvar global_states = global.get('homeassistant.homeAssistant.states');\n/* ------------------------------------------------------------------------- */\n/* Entität des DWD-Sensors für \"Current Warnings\" (vollständiger Name)       */\n/* ------------------------------------------------------------------------- */\nvar entity_current_data = global_states['sensor.dwd_warnungen_hoerstel_current_warning_level'];\n/* ------------------------------------------------------------------------- */\nvar number_of_current_warnings = entity_current_data.attributes.warning_count;\nif (number_of_current_warnings > 0) {\n  for (var i = 1; i <= number_of_current_warnings; i++) {\n    var currentMsg = {};\n    currentMsg.payload = {\n      headline: entity_current_data.attributes['warning_' + i + '_headline'],\n      description: entity_current_data.attributes['warning_' + i + '_description'],\n      level: entity_current_data.attributes['warning_' + i + '_level'],\n      lprefix: 'Aktuelle',\n      start: entity_current_data.attributes['warning_' + i + '_start'],\n      end: entity_current_data.attributes['warning_' + i + '_end']\n    }\n    node.send(currentMsg);\n  }\n}\n/* ------------------------------------------------------------------------- */\n/* Entität des DWD-Sensors für \"Advanced Warnings\" (vollständiger Name)      */\n/* ------------------------------------------------------------------------- */\nvar entity_advance_data = global_states['sensor.dwd_warnungen_hoerstel_advance_warning_level'];\n/* ------------------------------------------------------------------------- */\nvar number_of_advance_warnings = entity_advance_data.attributes.warning_count;\nif (number_of_advance_warnings > 0) {\n  for (var i = 1; i <= number_of_advance_warnings; i++) {\n    var advanceMsg = {};\n    advanceMsg.payload = {\n      headline: entity_advance_data.attributes['warning_' + i + '_headline'],\n      description: entity_advance_data.attributes['warning_' + i + '_description'],\n      level: entity_advance_data.attributes['warning_' + i + '_level'],\n      lprefix: 'Erweiterte',\n      start: entity_advance_data.attributes['warning_' + i + '_start'],\n      end: entity_advance_data.attributes['warning_' + i + '_end']\n    }\n    node.send(advanceMsg);\n  }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":80,"wires":[["db43f088ab1b3b22"]]},{"id":"25dd55c7d827268f","type":"change","z":"00b34f7cdcf95c18","name":"4. Nachricht zusammenbauen","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"message\" : \"*DWD-WARNUNG!* (über Node-RED)\\n\\n\" & payload.headline & \"\\n\" & payload.lprefix & \" Warnstufe: \" & payload.level & \"\\n\" & payload.description & \"\\nVon \" & payload.start & \" Uhr bis \" & payload.end & \" Uhr.\" }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":280,"wires":[["f57145c3b2f8e440","7c25628b38b24d94","ea9493b3db06cbf1"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]