NINA_warnings_nodered_flow_1.01.json
[{"id":"75129291a659068d","type":"function","z":"2680f7628e45c59c","name":"2. Schleife über alle Warnungen","func":"msg.payload = [];\nvar entity_name = msg.topic;\nfor (var i = 1; i <= 5; i++) {\n    var newMsg = {};\n    newMsg.payload = {\n      name: entity_name + i\n    }\n    node.send(newMsg);\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":80,"wires":[["6ffa63d62e0e3ab5"]]},{"id":"6ffa63d62e0e3ab5","type":"api-current-state","z":"2680f7628e45c59c","name":"3. Warnungsdaten auslesen","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{ payload.name }}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":220,"y":180,"wires":[["75728bef9ce4b25f"],[]]},{"id":"abec873e8bb2130e","type":"server-state-changed","z":"2680f7628e45c59c","name":"1. NINA Warnungen triggern","server":"e5ff3427.b49de8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["binary_sensor.nina_warning_hoerstel_1","binary_sensor.nina_warning_hoerstel_2","binary_sensor.nina_warning_hoerstel_3","binary_sensor.nina_warning_hoerstel_4","binary_sensor.nina_warning_hoerstel_5"],"entityidfiltertype":"list","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"binary_sensor.nina_warning_hoerstel_","valueType":"str"}],"x":180,"y":80,"wires":[["75129291a659068d"],[]]},{"id":"2c8a1443597fcc1f","type":"api-call-service","z":"2680f7628e45c59c","name":"7.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":380,"wires":[[]]},{"id":"c66da4bca50ddcd1","type":"moment","z":"2680f7628e45c59c","name":"5.a Datumsformat \"von\" umwandeln","topic":"","input":"payload.attributes.start","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.attributes.start","outputType":"msg","outTz":"Europe/Berlin","x":240,"y":280,"wires":[["4579ce2025b4c8e3"]]},{"id":"4579ce2025b4c8e3","type":"moment","z":"2680f7628e45c59c","name":"5.b Datumsformat \"bis\" umwandeln","topic":"","input":"payload.attributes.expires","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.attributes.expires","outputType":"msg","outTz":"Europe/Berlin","x":560,"y":280,"wires":[["998ca90293667651"]]},{"id":"f0532d49500d644f","type":"api-call-service","z":"2680f7628e45c59c","name":"7.c Nachricht an Dashboard senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":500,"wires":[[]]},{"id":"9811624896c7890c","type":"api-call-service","z":"2680f7628e45c59c","name":"7.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":440,"wires":[[]]},{"id":"998ca90293667651","type":"change","z":"2680f7628e45c59c","name":"6. Nachricht zusammenbauen","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"message\" : \"*NINA-WARNUNG!* (über Node-RED)\\n\\n\" & payload.attributes.headline & \"\\nWarnstufe: \" & payload.attributes.severity & \"\\n\" & payload.attributes.description & \"\\nVon \" & payload.attributes.start & \" Uhr bis \" & payload.attributes.expires & \" Uhr.\" }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":380,"wires":[["f0532d49500d644f","9811624896c7890c","2c8a1443597fcc1f"]]},{"id":"75728bef9ce4b25f","type":"change","z":"2680f7628e45c59c","name":"4. Warnstufen übersetzen","rules":[{"t":"change","p":"payload.attributes.severity","pt":"msg","from":"Extreme","fromt":"str","to":"Extrem","tot":"str"},{"t":"change","p":"payload.attributes.severity","pt":"msg","from":"Severe","fromt":"str","to":"Schwer","tot":"str"},{"t":"change","p":"payload.attributes.severity","pt":"msg","from":"Moderate","fromt":"str","to":"Mäßig","tot":"str"},{"t":"change","p":"payload.attributes.severity","pt":"msg","from":"Minor","fromt":"str","to":"Gering","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":180,"wires":[["c66da4bca50ddcd1"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]