spooky/code/spooky_nodered_flow_komplex.json
[{"id":"66c50c00.a3c8c4","type":"inject","z":"6dbef88861269b7c","name":"1. Alle 5 Minuten","props":[],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":140,"wires":[["8323aa4d93624792"]]},{"id":"87111b5d.423eb8","type":"ha-get-entities","z":"6dbef88861269b7c","name":"7.a Zufälliges Element aus der Gruppe \"Lights\"","server":"e5ff3427.b49de8","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"light.spooky_lights","valueType":"str"}],"output_type":"random","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":580,"y":440,"wires":[["75f9612b03e1d8e9"]]},{"id":"4769de91dd8af2d9","type":"delay","z":"6dbef88861269b7c","name":"4. Zufällige Verzögerung von 00:00 bis 04:59","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"0","randomLast":"299","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":810,"y":240,"wires":[["390b2125c91ed698"]]},{"id":"75f9612b03e1d8e9","type":"api-call-service","z":"6dbef88861269b7c","name":"8.a Light umschalten","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{ payload.entity_id }}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":440,"wires":[[]]},{"id":"dfc7711b2be6add0","type":"switch","z":"6dbef88861269b7c","name":"2.b Nur weitermachen wenn Spooky-Modus aktiv","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":140,"wires":[["fc5c4a75b22d50b2"]]},{"id":"8323aa4d93624792","type":"api-current-state","z":"6dbef88861269b7c","name":"2.a Status des Spooky-Modus einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.spookymode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":140,"wires":[["dfc7711b2be6add0"]]},{"id":"4dd2a580ba95e3c2","type":"ha-get-entities","z":"6dbef88861269b7c","name":"7.b Zufälliges Element aus der Gruppe \"Switches\"","server":"e5ff3427.b49de8","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"switch.spooky_switches","valueType":"str"}],"output_type":"random","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":590,"y":480,"wires":[["e6dba1764a7d15a6"]]},{"id":"e6dba1764a7d15a6","type":"api-call-service","z":"6dbef88861269b7c","name":"8.b Switch umschalten","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"switch","service":"toggle","areaId":[],"deviceId":[],"entityId":["{{ payload.entity_id }}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":480,"wires":[[]]},{"id":"fc5c4a75b22d50b2","type":"api-current-state","z":"6dbef88861269b7c","name":"3.a Sonnenstand ermitteln","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":240,"wires":[["b7fa743a4a0c02fb"]]},{"id":"b7fa743a4a0c02fb","type":"switch","z":"6dbef88861269b7c","name":"3.b Nur weitermachen wenn es dunkel ist","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"above_horizon","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":240,"wires":[["4769de91dd8af2d9"]]},{"id":"61da49f6faa277ef","type":"comment","z":"6dbef88861269b7c","name":"Spooky der Hausgeist (Anwesenheits-Simulation) 1.00 komplex","info":"","x":290,"y":80,"wires":[]},{"id":"390b2125c91ed698","type":"ha-get-entities","z":"6dbef88861269b7c","name":"5.a Anzahl Spooky Lights ermitteln","server":"e5ff3427.b49de8","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"light.spooky_lights","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"msg","output_location":"count_l","output_results_count":1,"x":200,"y":340,"wires":[["c40a8e6b65b06d26"]]},{"id":"c40a8e6b65b06d26","type":"ha-get-entities","z":"6dbef88861269b7c","name":"5.b Anzahl Spooky Switches ermitteln","server":"e5ff3427.b49de8","version":0,"rules":[{"property":"entity_id","logic":"in_group","value":"switch.spooky_switches","valueType":"str"}],"output_type":"count","output_empty_results":false,"output_location_type":"msg","output_location":"count_s","output_results_count":1,"x":510,"y":340,"wires":[["6eab1e88185243f1"]]},{"id":"6eab1e88185243f1","type":"function","z":"6dbef88861269b7c","name":"6.a Zufällige gewichtete Gruppenauswahl","func":"msg.payload = [];\nvar count_s = msg.count_s;\nvar count_l = msg.count_l;\nvar range_max = count_s + count_l;\nvar random_val = Math.floor(Math.random() * range_max) + 1;\nvar group = \"\";\nif (count_l > 0 && count_s > 0)\n{\n  if (random_val > count_l)\n  {\n    group = \"switch\";\n  }\n  else\n  {\n    group = \"light\";\n  }\n}\nelse\n{\n  if (count_l > 0)\n  {\n    group = \"light\";\n  }\n  if (count_s > 0)\n  {\n    group = \"switch\";\n  }\n}\nvar newMsg = {};\nnewMsg.payload = {\n  domain: group\n}\nnode.send(newMsg);\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":340,"wires":[["13df9b8396f122f1"]]},{"id":"13df9b8396f122f1","type":"switch","z":"6dbef88861269b7c","name":"6.b In ausgewählte Gruppe verzweigen","property":"payload.domain","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":460,"wires":[["87111b5d.423eb8"],["4dd2a580ba95e3c2"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]