ath/code/ATH_nodered_flow_1.00.json
[{"id":"27d472a389c35e2b","type":"tab","label":"ATH 1.00","disabled":false,"info":"","env":[]},{"id":"37c35da23f0d35e1","type":"junction","z":"27d472a389c35e2b","x":600,"y":160,"wires":[["ec03c1ca98588132","a199aedfec79ac31","f94f5781743e1211"]]},{"id":"d56ffbd7b83105bf","type":"inject","z":"27d472a389c35e2b","name":"Täglich um 18:00 Uhr","props":[],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","x":180,"y":120,"wires":[["77379b47b4030ca5"]]},{"id":"77379b47b4030ca5","type":"api-current-state","z":"27d472a389c35e2b","name":"Wenn morgen Abfuhr","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"Keine","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":120,"wires":[["37c35da23f0d35e1"],[]]},{"id":"52964abd7dfeb3a1","type":"inject","z":"27d472a389c35e2b","name":"Jetzt abfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["0abc7e8e577f18dd"]]},{"id":"ec03c1ca98588132","type":"api-call-service","z":"27d472a389c35e2b","name":"3.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":100,"wires":[[]]},{"id":"f94f5781743e1211","type":"api-call-service","z":"27d472a389c35e2b","name":"3.c Nachricht an Dashboard senden (JSONata)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":220,"wires":[[]]},{"id":"a199aedfec79ac31","type":"api-call-service","z":"27d472a389c35e2b","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen heute:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen morgen:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":160,"wires":[[]]},{"id":"5b4c844e6277c1ed","type":"comment","z":"27d472a389c35e2b","name":"AbfuhrTerminHinweise 1.00","info":"","x":180,"y":60,"wires":[]},{"id":"0abc7e8e577f18dd","type":"api-current-state","z":"27d472a389c35e2b","name":"Abfuhr heute und morgen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":200,"wires":[["37c35da23f0d35e1"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]