ath/code/ATH_nodered_flow_1.00.json
[{"id":"0ac7231b02947b84","type":"tab","label":"ATH 1.00","disabled":false,"info":"","env":[]},{"id":"06a591140cffb5fe","type":"junction","z":"0ac7231b02947b84","x":640,"y":160,"wires":[["e08f4e2ec5fd6785","fe73fd0252849d8d","0a6f9732797764c0"]]},{"id":"c92444238d3a468f","type":"inject","z":"0ac7231b02947b84","name":"1. Täglich um 18:00 Uhr","props":[],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":120,"wires":[["1a9e7d4a91d42666"]]},{"id":"1a9e7d4a91d42666","type":"api-current-state","z":"0ac7231b02947b84","name":"2. Wenn morgen Abfuhr","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"Keine","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":120,"wires":[["06a591140cffb5fe"],[]]},{"id":"dbf44282343ec062","type":"inject","z":"0ac7231b02947b84","name":"Jetzt abfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["2b50fc39c815c61d"]]},{"id":"e08f4e2ec5fd6785","type":"api-call-service","z":"0ac7231b02947b84","name":"3.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":100,"wires":[[]]},{"id":"0a6f9732797764c0","type":"api-call-service","z":"0ac7231b02947b84","name":"3.c Nachricht an Dashboard senden (JSONata)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":220,"wires":[[]]},{"id":"fe73fd0252849d8d","type":"api-call-service","z":"0ac7231b02947b84","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen heute:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen morgen:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":160,"wires":[[]]},{"id":"c8aac3325fbb9c34","type":"comment","z":"0ac7231b02947b84","name":"AbfuhrTerminHinweise 1.00","info":"","x":180,"y":60,"wires":[]},{"id":"2b50fc39c815c61d","type":"api-current-state","z":"0ac7231b02947b84","name":"Abfuhr heute und morgen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":200,"wires":[["06a591140cffb5fe"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]