ath/code/ATH_nodered_flow_1.20.json
[{"id":"ec9fafa0a2f38fd8","type":"tab","label":"ATH 1.20","disabled":false,"info":"","env":[]},{"id":"44031a05cf63a762","type":"junction","z":"ec9fafa0a2f38fd8","x":640,"y":160,"wires":[["7dbd4da6eb5c5a63","1eb9f8a9984afd2c","7c42ee35dd4d2d5b","d9f2225530680a76"]]},{"id":"160d775ebcfb62c2","type":"inject","z":"ec9fafa0a2f38fd8","name":"1. Täglich um 18:00 Uhr","props":[],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":120,"wires":[["b016eb22f4626f17"]]},{"id":"b016eb22f4626f17","type":"api-current-state","z":"ec9fafa0a2f38fd8","name":"2. Wenn morgen Abfuhr","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"Keine","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":120,"wires":[["44031a05cf63a762"],[]]},{"id":"471d53cc334eda4e","type":"inject","z":"ec9fafa0a2f38fd8","name":"Jetzt abfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["60bdbe4c8ccf0d93"]]},{"id":"7dbd4da6eb5c5a63","type":"api-call-service","z":"ec9fafa0a2f38fd8","name":"3.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":80,"wires":[[]]},{"id":"7c42ee35dd4d2d5b","type":"api-call-service","z":"ec9fafa0a2f38fd8","name":"3.c Nachricht an Dashboard senden (JSONata)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":200,"wires":[[]]},{"id":"1eb9f8a9984afd2c","type":"api-call-service","z":"ec9fafa0a2f38fd8","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen heute:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen morgen:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":140,"wires":[[]]},{"id":"d510848754f5d5c0","type":"comment","z":"ec9fafa0a2f38fd8","name":"AbfuhrTerminHinweise 1.20","info":"","x":180,"y":60,"wires":[]},{"id":"60bdbe4c8ccf0d93","type":"api-current-state","z":"ec9fafa0a2f38fd8","name":"Abfuhr heute und morgen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":200,"wires":[["44031a05cf63a762"]]},{"id":"d9f2225530680a76","type":"api-call-service","z":"ec9fafa0a2f38fd8","name":"3.d Nachricht an Dashboard senden (JSON)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Abfallabholungen ***heute***:\\n{{heute.daten.state}}\\n\\nAbfallabholungen ***morgen***:\\n{{morgen.daten.state}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":260,"wires":[[]]},{"id":"f158d944cbe1aa10","type":"inject","z":"ec9fafa0a2f38fd8","name":"Jetzt abfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":290,"y":320,"wires":[["559d26d0821d0866"]]},{"id":"559d26d0821d0866","type":"api-current-state","z":"ec9fafa0a2f38fd8","name":"Nächste Abfuhr","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_naechste","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"naechste","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_naechste\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":320,"wires":[["05d12d7e82620d1c"]]},{"id":"05d12d7e82620d1c","type":"api-call-service","z":"ec9fafa0a2f38fd8","name":"Nachricht an Dashboard senden (JSON)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"***Nächste*** Abfallabholung:\\n{{naechste.daten.state}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":320,"wires":[[]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]