ath/code/ATH_nodered_flow_1.10.json
[{"id":"35fd1fe1d6dd7967","type":"tab","label":"ATH 1.10","disabled":false,"info":"","env":[]},{"id":"926d8952b28c7db4","type":"junction","z":"35fd1fe1d6dd7967","x":640,"y":160,"wires":[["77ecd310de25d72a","9fac6a88aadb7d30","bc6dbfb64bf23331","fdecdcb7bdab92b7"]]},{"id":"7c5d335e2ee5e775","type":"inject","z":"35fd1fe1d6dd7967","name":"1. Täglich um 18:00 Uhr","props":[],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":120,"wires":[["f3cd6afa5d45a84a"]]},{"id":"f3cd6afa5d45a84a","type":"api-current-state","z":"35fd1fe1d6dd7967","name":"2. Wenn morgen Abfuhr","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"Keine","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":120,"wires":[["926d8952b28c7db4"],[]]},{"id":"285d6e5ddbd2bd48","type":"inject","z":"35fd1fe1d6dd7967","name":"Jetzt abfragen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":200,"wires":[["debc9172f0b72aeb"]]},{"id":"77ecd310de25d72a","type":"api-call-service","z":"35fd1fe1d6dd7967","name":"3.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":80,"wires":[[]]},{"id":"bc6dbfb64bf23331","type":"api-call-service","z":"35fd1fe1d6dd7967","name":"3.c Nachricht an Dashboard senden (JSONata)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen ***heute***:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen ***morgen***:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":200,"wires":[[]]},{"id":"9fac6a88aadb7d30","type":"api-call-service","z":"35fd1fe1d6dd7967","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Abfallabholungen heute:\\n\" & msg.heute.daten.state & \"\\n\\n\" & \"Abfallabholungen morgen:\\n\" & msg.morgen.daten.state }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":140,"wires":[[]]},{"id":"6cae32ea252b8d02","type":"comment","z":"35fd1fe1d6dd7967","name":"AbfuhrTerminHinweise 1.10","info":"","x":180,"y":60,"wires":[]},{"id":"debc9172f0b72aeb","type":"api-current-state","z":"35fd1fe1d6dd7967","name":"Abfuhr heute und morgen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"sensor.ath_morgen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"heute","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_heute\")}","valueType":"jsonata"},{"property":"morgen","propertyType":"msg","value":"{\"daten\":$entities(\"sensor.ath_morgen\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":200,"wires":[["926d8952b28c7db4"]]},{"id":"fdecdcb7bdab92b7","type":"api-call-service","z":"35fd1fe1d6dd7967","name":"3.d Nachricht an Dashboard senden (JSON)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Abfallabholungen ***heute***:\\n{{heute.daten.state}}\\n\\nAbfallabholungen ***morgen***:\\n{{morgen.daten.state}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":260,"wires":[[]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]