dwd/DWD_warnings_nodered_flow.json
[{"id":"7ebe424ecc836f49","type":"server-state-changed","z":"5bc96c6adf83e93c","name":"1. DWD Warnungen triggern","server":"e5ff3427.b49de8","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["sensor.dwd_warnungen_hoerstel_current_warning_level","sensor.dwd_warnungen_hoerstel_advance_warning_level"],"entityidfiltertype":"list","outputinitially":false,"state_type":"str","haltifstate":"0","halt_if_type":"num","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[],"x":180,"y":80,"wires":[["3f641ea2e9717dea"],[]]},{"id":"868511db589191aa","type":"api-call-service","z":"5bc96c6adf83e93c","name":"5.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":280,"wires":[[]]},{"id":"25886a0f591ae4d0","type":"moment","z":"5bc96c6adf83e93c","name":"3.a Datumsformat \"von\" umwandeln","topic":"","input":"payload.start","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.start","outputType":"msg","outTz":"Europe/Berlin","x":240,"y":180,"wires":[["4a7eb6c1decb5b25"]]},{"id":"4a7eb6c1decb5b25","type":"moment","z":"5bc96c6adf83e93c","name":"3.b Datumsformat \"bis\" umwandeln","topic":"","input":"payload.end","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"DD.MM.YYYY [um] kk:mm","locale":"de","output":"payload.end","outputType":"msg","outTz":"Europe/Berlin","x":560,"y":180,"wires":[["04dc10dfba757147"]]},{"id":"b03812ea128c7257","type":"api-call-service","z":"5bc96c6adf83e93c","name":"5.c Nachricht an Dashboard senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":400,"wires":[[]]},{"id":"734d97f10f6fb58b","type":"api-call-service","z":"5bc96c6adf83e93c","name":"5.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":340,"wires":[[]]},{"id":"3f641ea2e9717dea","type":"function","z":"5bc96c6adf83e93c","name":"2. Schleife über alle Warnungen","func":"msg.payload = [];\nvar global_states = global.get('homeassistant.homeAssistant.states');\n/* ------------------------------------------------------------------------- */\n/* Entität des DWD-Sensors für \"Current Warnings\" (vollständiger Name)       */\n/* ------------------------------------------------------------------------- */\nvar entity_current_data = global_states['sensor.dwd_warnungen_hoerstel_current_warning_level'];\n/* ------------------------------------------------------------------------- */\nvar number_of_current_warnings = entity_current_data.attributes.warning_count;\nif (number_of_current_warnings > 0) {\n  for (var i = 1; i <= number_of_current_warnings; i++) {\n    var currentMsg = {};\n    currentMsg.payload = {\n      headline: entity_current_data.attributes['warning_' + i + '_headline'],\n      description: entity_current_data.attributes['warning_' + i + '_description'],\n      level: entity_current_data.attributes['warning_' + i + '_level'],\n      start: entity_current_data.attributes['warning_' + i + '_start'],\n      end: entity_current_data.attributes['warning_' + i + '_end']\n    }\n    node.send(currentMsg);\n  }\n}\n/* ------------------------------------------------------------------------- */\n/* Entität des DWD-Sensors für \"Advanced Warnings\" (vollständiger Name)      */\n/* ------------------------------------------------------------------------- */\nvar entity_advance_data = global_states['sensor.dwd_warnungen_hoerstel_advance_warning_level'];\n/* ------------------------------------------------------------------------- */\nvar number_of_advance_warnings = entity_advance_data.attributes.warning_count;\nif (number_of_advance_warnings > 0) {\n  for (var i = 1; i <= number_of_advance_warnings; i++) {\n    var advanceMsg = {};\n    advanceMsg.payload = {\n      headline: entity_advance_data.attributes['warning_' + i + '_headline'],\n      description: entity_advance_data.attributes['warning_' + i + '_description'],\n      level: entity_advance_data.attributes['warning_' + i + '_level'],\n      start: entity_advance_data.attributes['warning_' + i + '_start'],\n      end: entity_advance_data.attributes['warning_' + i + '_end']\n    }\n    node.send(advanceMsg);\n  }\n}\nreturn null;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":80,"wires":[["25886a0f591ae4d0"]]},{"id":"04dc10dfba757147","type":"change","z":"5bc96c6adf83e93c","name":"4. Nachricht zusammenbauen","rules":[{"t":"set","p":"payload","pt":"msg","to":"{ \"message\" : \"*DWD-WARNUNG!* (über Node-RED)\\n\\n\" & payload.headline & \"\\nWarnstufe: \" & payload.level & \"\\n\" & payload.description & \"\\nVon \" & payload.start & \" Uhr bis \" & payload.end & \" Uhr.\" }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":280,"wires":[["b03812ea128c7257","868511db589191aa","734d97f10f6fb58b"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]