noticade/code/noticade_nodered_flow_1.00.json
[{"id":"a0e2e8946ba7315b","type":"tab","label":"Noticade 1.00","disabled":false,"info":"","env":[]},{"id":"78e108210806b794","type":"comment","z":"a0e2e8946ba7315b","name":"Noticade 1.00 | Notification Cascade | Benachrichtigungs-Kaskade","info":"","x":280,"y":60,"wires":[]},{"id":"e0b9dbfdb114344a","type":"server-state-changed","z":"a0e2e8946ba7315b","name":"Ereignis (Zustand)","server":"e5ff3427.b49de8","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_boolean.ereignis_zustand","entityIdType":"exact","outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":140,"wires":[["7c7b82a3b5898f4f"],[]]},{"id":"7c7b82a3b5898f4f","type":"function","z":"a0e2e8946ba7315b","name":"Initialisierung","func":"// ============================================================================\n// Noticade - Benachrichtigungs-Kaskade - NodeRED-Funktionsblock\n// Version: 1.00\n// Datum:   01.03.2025\n// Quelle:  https://github.com/migacode/home-assistant\n// =============================================================================\n// Konfiguration\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Mitteilungstext, der über die HA-Apps ausgegeben wird.\n// -----------------------------------------------------------------------------\nvar noticade_message = 'Achtung! Zuhause ist irgendwas passiert.';\n\n// -----------------------------------------------------------------------------\n// Anzahl Benachrichtigungs-Durchläufe je Empfänger, nach denen mit dem jeweils\n// danach folgenden Empfänger weitergemacht wird.\n// Bei einem Wert von 1 wird direkt nach jeweils nur einem Durchlauf und nach\n// Ablauf der Verzögerungszeit mit dem nächsten Empfänger weitergemacht.\n// -----------------------------------------------------------------------------\nvar noticade_repeat = 3;\n\n// -----------------------------------------------------------------------------\n// Verzögerungszeit zwischen den einzelnen Benachrichtigungen (Sekunden)\n// -----------------------------------------------------------------------------\nvar noticade_delay = 60;\n\n// -----------------------------------------------------------------------------\n// Entitäten der HA-Mobile-Apps\n// -----------------------------\n// Angabe ohne vorangestelltes \"notify.\"\n// ACHTUNG: Anzahl und Position äquivalent zu noticade_phone_id[x].\n// Um keine Nachricht an einen Empfänger zu senden, entsprechenden Eintrag mit\n// 'none' füllen (nicht leer- oder weglassen) => noticade_app_id[x] = 'none';\n// -----------------------------------------------------------------------------\nvar noticade_app_id = [];\nnoticade_app_id[0] = 'none';\nnoticade_app_id[1] = 'mobile_app_mobiltelefon_1';\nnoticade_app_id[2] = 'mobile_app_mobiltelefon_2';\n\n// -----------------------------------------------------------------------------\n// Entitäten der Telefon-Anruf-Vorlagen aus der Integration AVM Fritz!SmartHome\n// -----------------------------------------------------------------------------\n// Angabe ohne vorangestelltes \"button.\"\n// ACHTUNG: Anzahl und Position äquivalent zu noticade_app_id[x].\n// Um einen Empfänger nicht anzurufen, den entsprechenden Eintrag mit 'none'\n// füllen (nicht leer- oder weglassen) => noticade_phone_id[x] = 'none';\n// -----------------------------------------------------------------------------\nvar noticade_phone_id = [];\nnoticade_phone_id[0] = 'anruf_haustelefon_1';\nnoticade_phone_id[1] = 'anruf_mobiltelefon_1';\nnoticade_phone_id[2] = 'anruf_mobiltelefon_2';\n\n// =============================================================================\n// Ende der Konfiguration - ab hier keine Änderungen mehr durchführen!\n// =============================================================================\n// =============================================================================\n// Speichern der Variablen\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Entität des zu überwachenden Zustands (automatisch aus triggerndem Node)\n// HINWEIS: Die Kaskade läuft nur solange der Zustand dieser Entität \"on\" ist.\n// -----------------------------------------------------------------------------\nvar noticade_trigger_id = msg.payload;\nglobal.set(\"noticade_trigger_id\", noticade_trigger_id);\n// -----------------------------------------------------------------------------\n// Mitteilungstext\n// -----------------------------------------------------------------------------\nglobal.set(\"noticade_message\", noticade_message);\n// -----------------------------------------------------------------------------\n// Anzahl Benachrichtigungs-Durchläufe je Empfänger\n// -----------------------------------------------------------------------------\nglobal.set(\"noticade_repeat\", noticade_repeat);\n// -----------------------------------------------------------------------------\n// Verzögerungszeit zwischen den einzelnen Benachrichtigungen\n// -----------------------------------------------------------------------------\nglobal.set(\"noticade_delay\", noticade_delay);\n// -----------------------------------------------------------------------------\n// Maximaler Empfänger-Index\n// -----------------------------------------------------------------------------\nvar noticade_max_idx = noticade_app_id.length - 1;\nglobal.set(\"noticade_max_idx\", noticade_max_idx);\n// -----------------------------------------------------------------------------\n// Entitäten der HA-Mobile-Apps\n// -----------------------------------------------------------------------------\nfor (var i = 0; i <= noticade_max_idx; i++) {\n  global.set(\"noticade_app_id_\" + i, noticade_app_id[i]);\n}\n// -----------------------------------------------------------------------------\n// Entitäten der Telefon-Anruf-Vorlagen\n// -----------------------------------------------------------------------------\nfor (var i = 0; i <= noticade_max_idx; i++) {\n  global.set(\"noticade_phone_id_\" + i, noticade_phone_id[i]);\n}\n// -----------------------------------------------------------------------------\n// Index des aktuellen Empfängers\n// -----------------------------------------------------------------------------\nvar noticade_index = 0;\nglobal.set(\"noticade_index\", noticade_index);\n// -----------------------------------------------------------------------------\n// Nummer des aktuellen Durchlaufs je Empfänger\n// -----------------------------------------------------------------------------\nvar noticade_loop = 1;\nglobal.set(\"noticade_loop\", noticade_loop);\n\n// =============================================================================\n// Die Benachrichtigungs-Kaskade anstoßen\n// =============================================================================\nmsg.payload = [];\nvar newMsg = {};\nnewMsg.payload = {\n  noticade_trigger_id: noticade_trigger_id\n}\nnode.send(newMsg);\nnode.done();\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":140,"wires":[["d2b6987719999f66"]]},{"id":"2cb8d04d8e8aacaa","type":"function","z":"a0e2e8946ba7315b","name":"Looper","func":"// ============================================================================\n// Noticade - Looper\n// Version: 1.00\n// Datum:   01.03.2025\n// -----------------------------------------------------------------------------\n// Ermittelt die für den laufenden Empfänger konfigurierten Einstellungen,\n// löst die entsprechenden Aktionen aus und passt die laufenden Zähler an.\n// =============================================================================\n// ACHTUNG: In diesem Script keine Änderungen durchführen, wenn Du nicht genau\n// weißt was Du tust - die Konfiguration von Noticade erfolgt ausschließlich\n// in dem Node \"Initialisierung\". ;)\n// =============================================================================\n// -----------------------------------------------------------------------------\n// In dem Node Initalisierung gesetzte Variablen einlesen\n// -----------------------------------------------------------------------------\nvar noticade_trigger_id = global.get(\"noticade_trigger_id\");\nvar noticade_message    = global.get(\"noticade_message\");\nvar noticade_repeat     = parseInt(global.get(\"noticade_repeat\"));\nvar noticade_delay      = parseInt(global.get(\"noticade_delay\"));\nvar noticade_index      = parseInt(global.get(\"noticade_index\"));\nvar noticade_max_idx    = parseInt(global.get(\"noticade_max_idx\"));\nvar noticade_loop       = parseInt(global.get(\"noticade_loop\"));\n\n// var this_index = noticade_index; // Nur zum Testen\n// var this_loop = noticade_loop;   // Nur zum Testen\n\n// -----------------------------------------------------------------------------\n// Aktuelle Entitäten für Ausgabe-Pfade einlesen (VOR der Erhöhung der Zähler)\n// -----------------------------------------------------------------------------\nvar current_ha_app_id = global.get(\"noticade_app_id_\" + noticade_index);\nvar current_phone_id  = global.get(\"noticade_phone_id_\" + noticade_index);\n\n// -----------------------------------------------------------------------------\n// Durchlauf-Zähler erhöhen und bei Maximalwert zum nächsten Empfänger springen\n// -----------------------------------------------------------------------------\nnoticade_loop += 1;\nif (noticade_loop > noticade_repeat)\n{\n  noticade_loop = 1;\n  // ---------------------------------------------------------------------------\n  // Index des Empfängers erhöhen bzw. zurücksetzen\n  // ---------------------------------------------------------------------------\n  noticade_index += 1;\n  if (noticade_index > noticade_max_idx)\n  {\n    noticade_index = 0;\n  }\n  global.set(\"noticade_index\", noticade_index);\n}\nglobal.set(\"noticade_loop\", noticade_loop);\n\n// -----------------------------------------------------------------------------\n// Neuen Payload zusammenbauen\n// -----------------------------------------------------------------------------\nmsg.payload = [];\nvar newMsg = {};\nnewMsg.payload = {\n  // noticade_index: this_index, // Nur zum Testen\n  // noticade_loop: this_loop,   // Nur zum Testen\n  noticade_trigger_id: noticade_trigger_id,\n  noticade_message: noticade_message,\n  noticade_delay: noticade_delay,\n  noticade_ha_app_id: current_ha_app_id,\n  noticade_phone_id: current_phone_id\n}\n\n// -----------------------------------------------------------------------------\n// Ausgaben anstoßen\n// (Ausgang 3 dient nur zur Weiterleitung / Fortführung des Flows)\n// -----------------------------------------------------------------------------\nif (current_ha_app_id != 'undefined' && current_phone_id != 'undefined' &&\n    current_ha_app_id != null && current_phone_id != null)\n{\n  // Ausgabe an HA-Apps und Telefon-Anruf (Ausgang 1, 2 und 3)\n  if (current_ha_app_id.toLowerCase() != 'none' && current_phone_id.toLowerCase() != 'none')\n  {\n    node.send([newMsg, newMsg, newMsg]); // asynchron\n    node.done();\n    // return [newMsg, newMsg, newMsg]; // synchron\n  }\n  else\n  {\n    // Ausgabe an HA-Apps und kein Telefon-Anruf (nur Ausgang 1 und 3)\n    if (current_ha_app_id.toLowerCase() != 'none' && current_phone_id.toLowerCase() == 'none')\n    {\n      node.send([newMsg, null, newMsg]); // asynchron\n      node.done();\n      // return [newMsg, null, newMsg]; // synchron\n    } \n    // Keine Ausgabe an HA-Apps, nur Telefon-Anruf (nur Ausgang 2 und 3)\n    if (current_ha_app_id.toLowerCase() == 'none' && current_phone_id.toLowerCase() != 'none')\n    {\n      node.send([null, newMsg, newMsg]); // asynchron\n      node.done();\n      // return [null, newMsg, newMsg]; // synchron\n    }\n  }\n}\nelse\n{\n  // ---------------------------------------------------------------------------\n  // Wenn keine gültigen Informationen vorliegen, keine Ausgabe und kein Anruf\n  // ---------------------------------------------------------------------------\n  node.send([null, null, newMsg]); // asynchron\n  node.done();\n  // return [null, null, newMsg]; // synchron\n}\nreturn null;","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":220,"wires":[["1b2b06c3b1e7681d","91134c8b9124aa18"],["eb7660eeedab164d"],["a8eeacf0845622f3"]]},{"id":"26a1b0c29eac707d","type":"debug","z":"a0e2e8946ba7315b","d":true,"name":"Ende","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":100,"wires":[]},{"id":"d2b6987719999f66","type":"api-current-state","z":"a0e2e8946ba7315b","name":"Zustand prüfen","server":"e5ff3427.b49de8","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"{{payload.noticade_trigger_id}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":560,"y":140,"wires":[["26a1b0c29eac707d"],["2cb8d04d8e8aacaa"]]},{"id":"860380804adc8132","type":"delay","z":"a0e2e8946ba7315b","name":"Verzögerung","pauseType":"delayv","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":210,"y":300,"wires":[["d2b6987719999f66"]]},{"id":"eb7660eeedab164d","type":"api-call-service","z":"a0e2e8946ba7315b","name":"Telefon-Anruf","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.{{payload.noticade_phone_id}}"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":280,"wires":[[]]},{"id":"1b2b06c3b1e7681d","type":"api-call-service","z":"a0e2e8946ba7315b","name":"Text-Nachricht an HA-App","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"{{payload.noticade_ha_app_id}}","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.noticade_message }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":160,"wires":[[]]},{"id":"91134c8b9124aa18","type":"api-call-service","z":"a0e2e8946ba7315b","name":"Sprach-Nachricht an HA-App","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"{{payload.noticade_ha_app_id}}","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\": \"TTS\", \"data\": { \"ttl\": 0, \"priority\": \"high\", \"media_stream\": \"alarm_stream\", \"tts_text\": \"{{payload.noticade_message}}\" } }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":220,"wires":[[]]},{"id":"a8eeacf0845622f3","type":"change","z":"a0e2e8946ba7315b","name":"Verzögerungsdauer umwandeln","rules":[{"t":"set","p":"delay","pt":"flow","to":"payload.noticade_delay * 1000","tot":"jsonata"},{"t":"set","p":"delay","pt":"msg","to":"delay","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":300,"wires":[["860380804adc8132"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]