nina/code/NINA_warnings_nodered_flow_1.53.json
[{"id":"cf6a7604ebbe9e9d","type":"tab","label":"NINA 1.53","disabled":false,"info":"","env":[]},{"id":"25bbab1246af3d12","type":"function","z":"cf6a7604ebbe9e9d","name":"2. Warnungen auslesen und Nachricht zusammenbauen","func":"// ============================================================================\n// NINA-Warnungen versenden - NodeRED-Funktionsblock\n// Version: 1.53\n// Datum:   03.05.2024\n// Quelle:  https://github.com/migacode/home-assistant\n// ============================================================================\n// Konfiguration\n// ============================================================================\n// ----------------------------------------------------------------------------\n// Mitteilungsversand\n// * = Nur bei Ausgang 1, auf Ausgang 2 werden immer alle Warnungen gesendet\n// ----------------------------------------------------------------------------\n// Kleinste Warnstufe, ab der Mitteilungen versendet werden (1 = alle)*\nvar minimum_warning_level     = 1;\n// Doppelte Warnungen unterdrücken (true | false)*\nvar suppress_double_warnings  = true;\n// Mitteilung versenden, wenn alle Meldungen aufgehoben wurden (true | false)\nvar send_cancellation_message = true;\n// ----------------------------------------------------------------------------\n// Darstellung\n// ----------------------------------------------------------------------------\n// Wetter-Symbole anzeigen (true | false)\nvar show_weather_symbols      = true;\n// Aktuelle Warnstufe anzeigen (true | false)\nvar show_warning_level        = true;\n// Zeitpunkt der letzten Aktualisierung anzeigen (true | false)\nvar show_last_update_time     = true;\n// Im Mitteilungstext \"Amtliche Warnung vor \" entfernen (true | false)\nvar remove_pre_text_amtliche  = true;\n// Zusätzlicher Text, der hinter der Haupt-Überschrift angezeigt wird\nvar main_headline_add_text    = '(über Node-RED)';\n// ============================================================================\n// Gesendete Daten des vorherigen Node einlesen\n// ============================================================================\nvar triggering_entity = msg.trigger_id; // Triggernde Entität\nvar entity_data = [];\nentity_data[1]  = msg.warnung_1;        // Daten zu Warnung 1\nentity_data[2]  = msg.warnung_2;        // Daten zu Warnung 2\nentity_data[3]  = msg.warnung_3;        // Daten zu Warnung 3\nentity_data[4]  = msg.warnung_4;        // Daten zu Warnung 4\nentity_data[5]  = msg.warnung_5;        // Daten zu Warnung 5\n// ============================================================================\n// Initialisierung\n// ============================================================================\n// ----------------------------------------------------------------------------\n// Anzahl und Status der vorhandenen Warnmeldungen ermitteln\n// ----------------------------------------------------------------------------\nvar number_of_nina_warnings = 5;\nvar number_of_active_warnings = 0;\nvar warning_status = [];\nfor (var i = 1; i <= number_of_nina_warnings; i++)\n{\n  warning_status[i] = entity_data[i].daten.state;\n  if (warning_status[i] == 'on') {\n    number_of_active_warnings++; }\n}\n// ----------------------------------------------------------------------------\n// Wetter-Symbole definieren\n// ACHTUNG: Die Position der Schlüsselwörter in weather_warnidx entspricht der\n//          jeweiligen Position des entsprechenden Symbols in weather_symbols!\n// ----------------------------------------------------------------------------\nvar weather_warnidx  = ['EIS', 'FROST', 'GEWITTER', 'HAGEL', 'HITZE', 'KALT', 'KÄLTE', 'ORKAN', 'REGEN', 'SCHNEE', 'STURM', 'WASSER', 'WIND'];\nvar weather_symbols  = ['❄️', '❄️', '🌩', '🌩', '☀️', '❄️', '❄️', '🌪', '☂️', '⛄️', '🌪', '🌊', '💨'];\nvar blitz            = '⚡️ ';\n// ----------------------------------------------------------------------------\n// Textbausteine definieren\n// ----------------------------------------------------------------------------\nvar trennlinie       = '\\n───\\n';    // Trennlinie für Mitteilungen in vollen Meldungen\nvar trennstrich      = ' | ';        // Trennzeichen für Werte in reinen Text-Meldungen\nvar ende_marker      = ' |!| ';      // Trennzeichen für Warnungen in reinen Text-Meldungen\nvar double_warn_flag = \"(Doppelt) \"; // Hinweis für doppelte/redundante Warnmeldungen\n// Haupt-Überschrift der Mitteilung, (CCC) wird später automatisch ersetzt\nvar ueberschrift     = \"NINA-WARNUNG\" + ((number_of_active_warnings > 1) ? 'EN (CCC)' : '');\n// ----------------------------------------------------------------------------\n// Intern verwendete Variablen initialisieren\n// (NICHT ändern, Änderungen erfolgen zur Laufzeit nur durch das Skript selbst)\n// ----------------------------------------------------------------------------\n// Warnungen\nvar warnings_to_show = 0;     // Anzahl Meldungen größer/gleich Mindest-Warnstufe\nvar warning_type     = '';    // Text für Art der Warnung (Aktuell oder Vorwarnung)\nvar work_warning_id  = '';    // Interne ID zur Identifikation doppelter Warnungen\nvar warnings_id_list = '';    // Liste mit IDs bereits angezeigter Warnungen\nvar warning_exists   = false; // Warnung existiert in der Liste bekannter Warnungen\nvar warn_list_type   = null;  // Datentyp der eingelesenen Liste\n\n// Texte für Ausgang 1\nvar full_message_1   = '';    // Volle Meldung mit Sonderzeichen (Wettersymbole etc.)\nvar short_message_1  = '';    // Gekürzte Meldung mit Sonderzeichen (max 256 Zeichen)\nvar text_message_1   = '';    // Volle Meldung als reiner Text ohne Sonderzeichen\n// Texte für Ausgang 2\nvar full_message_2   = '';    // Volle Meldung mit Sonderzeichen (Wettersymbole etc.)\nvar short_message_2  = '';    // Gekürzte Meldung mit Sonderzeichen (max 256 Zeichen)\nvar text_message_2   = '';    // Volle Meldung als reiner Text ohne Sonderzeichen\n\n// ============================================================================\n// Here we go ...\n// ============================================================================\nif (number_of_active_warnings > 0)\n{\n  // --------------------------------------------------------------------------\n  // Haupt-Überschrift der Mitteilung(en)\n  // --------------------------------------------------------------------------\n  if (!show_weather_symbols) { blitz = ''; }\n  full_message_1  = blitz + \"***\" + ueberschrift + \"*** \" + blitz + main_headline_add_text + trennlinie;\n  full_message_2  = full_message_1;\n  short_message_1 = full_message_1;\n  short_message_2 = short_message_1;\n  text_message_1  = ueberschrift + \" \" + main_headline_add_text + trennstrich;\n  text_message_2  = text_message_1;\n  // ----------------------------------------------------------------------------\n  // Warnmeldungen verarbeiten und der Mitteilung hinzufügen\n  // ----------------------------------------------------------------------------\n  warning_type = 'Warnstufe: ';\n  add_warnings(number_of_nina_warnings);\n}\nelse\n{\n  // --------------------------------------------------------------------------\n  // Wenn keine Warnungen mehr vorhanden sind, entsprechenden Hinweis senden,\n  // sofern dies nicht mit \"send_cancellation_message = false\" abgestellt ist\n  // --------------------------------------------------------------------------\n  if (send_cancellation_message)\n  {\n    // -----------------------------------------------------------------------\n    // Um mehrfache Mitteilungen durch Löschen aller NINA-Warnmeldungen zu\n    // verhindern, nur senden wenn die Letzte schon min. 10 Minuten her ist\n    // -----------------------------------------------------------------------\n    var minimum_time_diff = 600; // 600 Sekunden = 10 Minuten\n    var time_saved = global.get(\"nina_last_cancellation_time\");\n    var t_time_saved = typeof time_saved;\n    if (time_saved == '' || t_time_saved === 'undefined' || time_saved === null || t_time_saved === null)\n    {\n      time_saved = Date.now();\n      time_saved = time_saved - minimum_time_diff;\n    }\n    var time_now = Date.now();\n    global.set(\"nina_last_cancellation_time\", time_now);\n    time_saved = Math.round(time_saved / 1000);\n    time_now   = Math.round(time_now / 1000);\n    var cancellation_message = \"\";\n    if ((time_now - time_saved) >= minimum_time_diff)\n    {\n      warnings_to_show = 1;\n      cancellation_message = \"Alle NINA-Warnmeldungen wurden aufgehoben. \" + main_headline_add_text;\n    }\n    // ---------------------------------------------------------\n    // Alle Mitteilungstexte mit entsprechendm Hinweis befüllen\n    // ---------------------------------------------------------\n    full_message_1  = cancellation_message;\n    full_message_2  = cancellation_message;\n    short_message_1 = cancellation_message;\n    short_message_2 = cancellation_message;\n    text_message_1  = cancellation_message;\n    text_message_2  = cancellation_message;\n    // ---------------------------------------------------\n    // Wenn es keine Warnungen mehr gibt, dann auch die\n    // gespeicherte Liste der bekannten Warnungen löschen\n    // ---------------------------------------------------\n    global.set(\"nina_nodered_warnings_list\", '');\n  }\n}\n// ----------------------------------------------------------------------------\n// Mitteilung zum Versand als Payload vorbereiten\n// ----------------------------------------------------------------------------\n// Anzahl der tatsächlich angezeigten Meldungen in den Mitteilungen einfügen\n// --------------------------------------------------------------------------\nfull_message_1 = full_message_1.replace('CCC', warnings_to_show.toString());\nfull_message_2 = full_message_2.replace('CCC', number_of_active_warnings.toString());\nshort_message_1 = short_message_1.replace('CCC', warnings_to_show.toString());\nshort_message_2 = short_message_2.replace('CCC', number_of_active_warnings.toString());\ntext_message_1 = text_message_1.replace('CCC', warnings_to_show.toString());\ntext_message_2 = text_message_2.replace('CCC', number_of_active_warnings.toString());\n// --------------------------------\n// Daten für Ausgang 1 vorbereiten\n// --------------------------------\nvar output_1 = {};\noutput_1.payload = {\n  msg_full: full_message_1,\n  msg_short: short_message_1,\n  msg_text: text_message_1\n}\n// --------------------------------\n// Daten für Ausgang 2 vorbereiten\n// --------------------------------\nvar output_2 = {};\noutput_2.payload = {\n  msg_full: full_message_2,\n  msg_short: short_message_2,\n  msg_text: text_message_2\n}\n// ----------------------------------------------------------------------------\n// Mitteilung ausgeben (an nachfolgende/n Node/s senden)\n// ----------------------------------------------------------------------------\n// Alten Payload löschen, um keine Daten daraus mit weiterzuleiten\n// ----------------------------------------------------------------\nmsg.payload = [];\n// ----------------------------------------------------------------------\n// Wenn es neue Mitteilungen gibt, Daten an Ausgang 1 und 2 ausgeben ...\n// ----------------------------------------------------------------------\nif (warnings_to_show > 0)\n{\n  // Nur wenn es auch wirklich etwas zu melden gibt ...\n  if (full_message_1 != \"\" || short_message_1 != \"\" || text_message_1 != \"\")\n  {\n    node.send([output_1, output_2]); // asynchron\n    node.done();\n    // return [output_1, output_2]; // synchron\n  }\n}\n// ----------------------------------------------------------------------\n// ... sonst Daten nur an Ausgang 2 ausgeben\n// ----------------------------------------------------------------------\nelse\n{\n  // Nur wenn es auch wirklich etwas zu melden gibt ...\n  if (full_message_2 != \"\" || short_message_2 != \"\" || text_message_2 != \"\")\n  {\n    node.send([null, output_2]); // asynchron\n    node.done();\n    // return [null, output_2]; // synchron\n  }\n}\n// ----------------------------------------------------------------------------\n// Skript OHNE Rückmeldung beenden (Daten wurden schon mit node.send gesendet)\n// ----------------------------------------------------------------------------\nreturn null;\n\n// ============================================================================\n// Umwandlung einer ISO-Zeitangabe in ein eigenes Format\n// ============================================================================\nfunction time_convert(iso_string) {\n  var date = new Date(iso_string);\n  var year = parseInt(date.getFullYear());\n  var month = parseInt(date.getMonth()) + 1;\n  var day = parseInt(date.getDate());\n  var hour = parseInt(date.getHours());\n  var minute = parseInt(date.getMinutes());\n  if (day < 10) { day = '0' + day; }\n  if (month < 10) { month = '0' + month; }\n  if (hour < 10) { hour = '0' + hour; }\n  if (minute < 10) { minute = '0' + minute; }\n  return '***' + day + '.' + month + '.' + year + '*** um ***' + hour + ':' + minute + '***';\n}\n\n// ============================================================================\n// Einfache Prüfsumme erstellen\n// ============================================================================\nfunction get_cs(the_text)\n{\n  var the_text = the_text.toString();\n  var cs_value = 0;\n  for (var i=0;i<the_text.length;i++)\n  {\n    cs_value = cs_value + the_text.charCodeAt(i);\n  }\n  return cs_value;\n}\n\n// ============================================================================\n// Hinzufügen der Warnmeldungen zu den zu versendenden Mitteilungen\n// ============================================================================\nfunction add_warnings(number_of_warnings) {\n  var level          = 0;  // Warnstufe als Zahl\n  var level_text     = ''; // Warnstufe als Text\n  var headline       = ''; // Kopfzeile\n  var weather_symbol = ''; // Wetter-Symbol\n  var description    = ''; // Beschreibung\n  var last_update    = ''; // Letzte Aktualisierung\n  var time_start     = ''; // Beginn\n  var time_end       = ''; // Ende\n  var time_text      = ''; // Zeitangabe in lesbarem Text\n  var work_full_msg  = ''; // Arbeitsbereich für Vollständige Meldung\n  var work_short_msg = ''; // Arbeitsbereich für Kurzmeldung\n  var work_text_msg  = ''; // Arbeitsbereich für reine Text-Meldung\n  var last_pre_text  = \"Letzte Aktualisierung: \";\n  var anzahl = parseInt(number_of_warnings);\n  if (anzahl > 0)\n  {\n    for (var i = 1; i <= anzahl; i++)\n    {\n      // ----------------------------------------------------\n      // Bei jeder Warnung mit leeren Arbeitstexten beginnen\n      // ----------------------------------------------------\n      work_full_msg  = '';\n      work_short_msg = '';\n      work_text_msg  = '';\n      // -----------------------------------------------------\n      // Wenn die Warnung aktiv ist, dann Nachricht erstellen\n      // -----------------------------------------------------\n      if (warning_status[i] == 'on')\n      {\n        // ----------------------\n        // 1. Warnstufe auslesen\n        // ----------------------\n        level_text = entity_data[i].daten.attributes.severity;\n        // -----------------------------------------------------\n        // Schwere der Warnstufe in numerischen Wert übersetzen\n        // -----------------------------------------------------\n        level = 1;\n        if (level_text != '' && typeof level_text !== 'undefined' && level_text !== null)\n        {\n          level_text = level_text.toLowerCase();\n          switch(level_text) {\n            case 'minor':\n              level = 1;\n              break;\n            case 'moderate':\n              level = 2;\n              break;\n            case 'severe':\n              level = 3;\n              break;\n            case 'extreme':\n              level = 4;\n              break;\n            default:\n              level = 1;\n          }\n          // ----------------------\n          // Warnstufen übersetzen\n          // ----------------------\n          level_text = level_text.replace('unknown', 'Hinweis').replace('minor', 'Gering').replace('moderate', 'Mäßig').replace('severe', 'Schwer').replace('extreme', 'Extrem');\n        }\n        else\n        {\n          level_text = 'Keine';\n        }\n        // -----------------------------------\n        // 2.a Kopfzeile der Meldung auslesen\n        // -----------------------------------\n        headline = entity_data[i].daten.attributes.headline;\n        // -------------------------------------------\n        // 2.b Wetter-Symbole zur Kopfzeile ermitteln\n        // -------------------------------------------\n        weather_symbol = '';\n        if (show_weather_symbols)\n        {\n          for (var w = 0; w < weather_warnidx.length; w++)\n          {\n            if (headline.toUpperCase().indexOf(weather_warnidx[w]) !== -1) { weather_symbol += weather_symbols[w]; }\n          }\n        }\n        // -------------------------------------\n        // 3. Beschreibung der Meldung auslesen\n        // -------------------------------------\n        description = entity_data[i].daten.attributes.description;\n        // -------------------------------\n        // 4. Zeiten der Meldung auslesen\n        // -------------------------------\n        time_text = \"\";\n        last_update = time_convert(entity_data[i].daten.attributes.sent) + \" Uhr\";\n        if (last_update.indexOf('NaN') >= 0)\n        {\n          last_pre_text = \"\";\n          last_update = \"\";\n        }\n        time_start = time_convert(entity_data[i].daten.attributes.start);\n        if (time_start.indexOf('NaN') < 0) {\n          time_text += \"Ab \" + time_start + \" Uhr\"; }\n        time_end = time_convert(entity_data[i].daten.attributes.expires);\n        if (time_end.indexOf('NaN') < 0) {\n          time_text += \" bis \" + time_end + \" Uhr\"; }\n        // ---------------------------------------------------------------------\n        // Nachrichten aus den einzelnen Warnmeldungs-Komponenten zusammenbauen\n        // ---------------------------------------------------------------------\n        // Vollständige Meldung\n        // ---------------------\n        work_full_msg += \"***\" + headline + \"*** \" + weather_symbol + \"\\n\";\n        if (show_warning_level) {\n          work_full_msg += warning_type + \"***\" + level_text + \" (\" + level + \")***\\n\"; }\n        if (show_last_update_time)\n        {\n          work_full_msg += \"UUU\";\n          if (last_update != \"\") { work_full_msg += \"\\n\"; }\n        }\n        work_full_msg += description + \"\\n\";\n        work_full_msg += time_text + trennlinie;\n        // ------------\n        // Kurzmeldung\n        // ------------\n        work_short_msg += headline + \" \" + weather_symbol + \"\\n\" + time_text + trennlinie;\n        work_short_msg = work_short_msg.replace(/ Uhr /g, ' ');\n        work_short_msg = work_short_msg.replace(/ um /g, ' ');\n        // -------------------\n        // Reine Text-Meldung\n        // -------------------\n        work_text_msg += headline + trennstrich;\n        if (show_warning_level) {\n          work_text_msg += warning_type + level_text + \" (\" + level + \")\" + trennstrich; }\n        if (show_last_update_time)\n        {\n          work_text_msg += \"UUU\";\n          if (last_update != \"\") { work_text_msg += trennstrich; }\n\n        }\n        work_text_msg += description + trennstrich;\n        work_text_msg += time_text + ende_marker;\n        // -----------------\n        // Texte bereinigen\n        // -----------------\n        if (remove_pre_text_amtliche)\n        {\n          work_full_msg = work_full_msg.replace(/Amtliche Warnung vor /gis, '');\n          work_short_msg = work_short_msg.replace(/Amtliche Warnung vor /gis, '');\n          work_text_msg = work_text_msg.replace(/Amtliche Warnung vor /gis, '');\n        }\n        work_short_msg = work_short_msg.substring(0, 255) + \" (Details siehe HA-App)\" + trennlinie;\n        work_text_msg = work_text_msg.replace(/\\*\\*\\*/gis, '');\n        // -----------------------------------------------------------------\n        // Wenn doppelte Warnungen unterdrückt werden sollen, prüfen ob die\n        // Warnung schon in der Liste bekannter Warnungen enthalten ist\n        // -----------------------------------------------------------------\n        warning_exists = false;\n        if (suppress_double_warnings)\n        {\n          // ----------------------------------------------------------\n          // ID für die Warnung erstellen\n          // ----------------------------------------------------------\n          work_warning_id = headline.charAt(0).toString() +\n                          description.charAt(0).toString() +\n                          get_cs(work_text_msg).toString();\n          // ----------------------------------------------------------\n          // Wenn es schon eine Liste mit bekannten Warnungen gibt,\n          // ermitteln ob die neue Warnung darin bereits enthalten ist\n          // ----------------------------------------------------------\n          warnings_id_list = global.get(\"nina_nodered_warnings_list\");\n          warn_list_type = typeof warnings_id_list;\n          if (warnings_id_list != '' && warn_list_type !== 'undefined' && warnings_id_list !== null && warn_list_type !== null)\n          {\n            if (warnings_id_list.indexOf(work_warning_id + ',') >= 0)\n            {\n              warning_exists = true;\n            }\n          }\n          else\n          {\n            warnings_id_list = '';\n          }\n          // -----------------------------------------------------\n          // Wenn es die Warnung noch nicht gibt, diese der Liste\n          // bekannter Warnungen hinzufügen und Liste speichern\n          // -----------------------------------------------------\n          if (!warning_exists)\n          {\n            warnings_id_list += work_warning_id + ',';\n            global.set(\"nina_nodered_warnings_list\", warnings_id_list);\n          }\n        }\n        // ----------------------------------------------\n        // Zeitpunkt der letzten Aktualisierung einfügen\n        // ----------------------------------------------\n        if (show_last_update_time)\n        {\n           work_full_msg = work_full_msg.replace('UUU', last_pre_text + last_update);\n           work_text_msg = work_text_msg.replace('UUU', last_pre_text + last_update);\n        }\n        // ----------------------------------\n        // Redundante Warnungen kennzeichnen\n        // ----------------------------------\n        if (warning_exists)\n        {\n          work_full_msg  = double_warn_flag + work_full_msg;\n          work_short_msg = double_warn_flag + work_short_msg;\n          work_text_msg  = double_warn_flag + work_text_msg;\n        }\n        // -----------------------------------------------------------------\n        // Warnmeldung für Ausgang 1 nur hinzufügen, wenn diese größer oder\n        // gleich der Mindest-Warnstufe ist und noch nicht existiert\n        // -----------------------------------------------------------------\n        if (level >= minimum_warning_level && !warning_exists)\n        {\n          warnings_to_show++;\n          full_message_1  += work_full_msg;\n          short_message_1 += work_short_msg;\n          text_message_1  += work_text_msg;\n        }\n        // ---------------------------------------------\n        // Warnmeldungen für Ausgang 2 immer hinzufügen\n        // ---------------------------------------------\n        full_message_2  += work_full_msg;\n        short_message_2 += work_short_msg;\n        text_message_2  += work_text_msg;\n      }\n    }\n  }\n  return;\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["e97d6f55fa754c41","45b9031245bf2b7e","e7492e7a7f132f1d"],["1cd8a4e4ae21f644","98a5d6803d8210e3","4b07b482bc525e26"]]},{"id":"7dc90ad6122810e5","type":"server-state-changed","z":"cf6a7604ebbe9e9d","name":"1. NINA Warnungen triggern","server":"e5ff3427.b49de8","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":["binary_sensor.nina_warning_hoerstel_1","binary_sensor.nina_warning_hoerstel_2","binary_sensor.nina_warning_hoerstel_3","binary_sensor.nina_warning_hoerstel_4","binary_sensor.nina_warning_hoerstel_5"],"entityIdType":"list","outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is_not","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"trigger_id","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"warnung_1","propertyType":"msg","value":"{\"daten\":$entities(\"binary_sensor.nina_warning_hoerstel_1\")}","valueType":"jsonata"},{"property":"warnung_2","propertyType":"msg","value":"{\"daten\":$entities(\"binary_sensor.nina_warning_hoerstel_2\")}","valueType":"jsonata"},{"property":"warnung_3","propertyType":"msg","value":"{\"daten\":$entities(\"binary_sensor.nina_warning_hoerstel_3\")}","valueType":"jsonata"},{"property":"warnung_4","propertyType":"msg","value":"{\"daten\":$entities(\"binary_sensor.nina_warning_hoerstel_4\")}","valueType":"jsonata"},{"property":"warnung_5","propertyType":"msg","value":"{\"daten\":$entities(\"binary_sensor.nina_warning_hoerstel_5\")}","valueType":"jsonata"}],"x":180,"y":120,"wires":[["25bbab1246af3d12"]]},{"id":"45b9031245bf2b7e","type":"api-call-service","z":"cf6a7604ebbe9e9d","name":"3.a Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : payload.msg_full }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":120,"wires":[[]]},{"id":"1cd8a4e4ae21f644","type":"api-call-service","z":"cf6a7604ebbe9e9d","name":"3.c Nachricht an Dashboard senden (JSONata)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : $replace(payload.msg_full, '***', '**') }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":280,"wires":[[]]},{"id":"e97d6f55fa754c41","type":"api-call-service","z":"cf6a7604ebbe9e9d","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : $replace(payload.msg_short, '***', '') }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":200,"wires":[[]]},{"id":"e1fb9d0aec4e3ef8","type":"comment","z":"cf6a7604ebbe9e9d","name":"NINA-Warnungen 1.53","info":"","x":160,"y":60,"wires":[]},{"id":"e7492e7a7f132f1d","type":"debug","z":"cf6a7604ebbe9e9d","d":true,"name":"Ausgang 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"98a5d6803d8210e3","type":"api-call-service","z":"cf6a7604ebbe9e9d","d":true,"name":"3.d Nachricht an Dashboard senden (JSON)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"{{payload.msg_text}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":360,"wires":[[]]},{"id":"4b07b482bc525e26","type":"debug","z":"cf6a7604ebbe9e9d","d":true,"name":"Ausgang 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"fe58a61d2d1db837","type":"inject","z":"cf6a7604ebbe9e9d","name":"Reset","props":[{"p":"zahl","v":"","vt":"num"},{"p":"text","v":"","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":130,"y":480,"wires":[["aa019913c028a42e"]]},{"id":"aa019913c028a42e","type":"function","z":"cf6a7604ebbe9e9d","name":"Liste alter NINA-Warnungen löschen","func":"global.set(\"nina_nodered_warnings_list\", '');\nmsg.payload = [];\nvar output = {};\noutput.payload = {\n  meldung: \"Liste der alten NINA-Warnmeldungen gelöscht.\"\n}\nnode.send(output);\nreturn null;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":480,"wires":[["8bafdda871699231"]]},{"id":"8bafdda871699231","type":"debug","z":"cf6a7604ebbe9e9d","name":"Bestätigung","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":480,"wires":[]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]