leckdet/code/leckdet_nodered_flow_1.00.json
[{"id":"1ebe88dbd0ceed72","type":"tab","label":"LeckDet 1.00","disabled":false,"info":"","env":[]},{"id":"f67687e9aaa3dc05","type":"api-call-service","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 1 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_1"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":600,"wires":[["570350737bb7c6c0"]]},{"id":"90aa9039169671e3","type":"inject","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":400,"wires":[["3b5540818252ddde"]]},{"id":"3b5540818252ddde","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":400,"wires":[["4504b17cf4e6d708"]]},{"id":"4504b17cf4e6d708","type":"debug","z":"1ebe88dbd0ceed72","name":"Aktueller Zählerstand","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"570350737bb7c6c0","type":"debug","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"9955be37dc02deed","type":"comment","z":"1ebe88dbd0ceed72","name":"Werte anzeigen","info":"","x":120,"y":340,"wires":[]},{"id":"33ac474db8c1f92d","type":"comment","z":"1ebe88dbd0ceed72","name":"Automatisierungen","info":"","x":130,"y":540,"wires":[]},{"id":"ef726e6cb49b119e","type":"comment","z":"1ebe88dbd0ceed72","name":"LeckDet 1.00 | Leckage-Detektiv","info":"","x":170,"y":60,"wires":[]},{"id":"06e9a2efb6604d66","type":"comment","z":"1ebe88dbd0ceed72","name":"HINWEISE \\n Benötigt werden folgende Helfer in Home Assistant: \\n - input_number.leckage_detektiv_zahlerstand_1 \\n - input_number.leckage_detektiv_zahlerstand_2 \\n - input_number.leckage_detektiv_zahlerstand_3 \\n sowie \\n - input_boolean.leckage_detektiv_leck_erkannt","info":"","x":230,"y":180,"wires":[]},{"id":"76e2163d86b9d2ca","type":"inject","z":"1ebe88dbd0ceed72","name":"Erste Messung um 03:00 Uhr","props":[],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["77aba078818dae11"]]},{"id":"3c7dbbdbea082926","type":"debug","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstände","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\"Zwischen-Zählerstände\":$join([\"Zähler 1 : \",$string(leckdet_stand_1.daten.state),\" | Zähler 2 : \",$string(leckdet_stand_2.daten.state),\" | Zähler 3 : \",$string(leckdet_stand_3.daten.state)])}","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"4cec99cdc1643e3c","type":"api-call-service","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 2 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_2"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":660,"wires":[["0bf4122fe2474f08"]]},{"id":"0bf4122fe2474f08","type":"debug","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":660,"wires":[]},{"id":"92f0a2ba6ea7d7c1","type":"inject","z":"1ebe88dbd0ceed72","name":"Zweite Messung um 03:15 Uhr","props":[],"repeat":"","crontab":"15 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":660,"wires":[["10ef3f7a46681080"]]},{"id":"1d1a31856e562cdb","type":"api-call-service","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 3 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_3"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":720,"wires":[["3ac734b1b907b71c"]]},{"id":"3ac734b1b907b71c","type":"debug","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstand 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":720,"wires":[]},{"id":"f136f32212aa2c75","type":"inject","z":"1ebe88dbd0ceed72","name":"Dritte Messung um 03:30 Uhr","props":[],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":720,"wires":[["21c0ebe406814a25"]]},{"id":"5dca16cd3e905e84","type":"inject","z":"1ebe88dbd0ceed72","name":"Vierte Messung um 03:45 Uhr","props":[],"repeat":"","crontab":"45 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":780,"wires":[["8b21cc987e81f966"]]},{"id":"143d9c2aa02becc0","type":"inject","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstände anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":460,"wires":[["45bea58b06d5a6a6"]]},{"id":"45bea58b06d5a6a6","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":460,"wires":[["3c7dbbdbea082926"]]},{"id":"77aba078818dae11","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":600,"wires":[["f67687e9aaa3dc05"]]},{"id":"10ef3f7a46681080","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":660,"wires":[["4cec99cdc1643e3c"]]},{"id":"21c0ebe406814a25","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["1d1a31856e562cdb"]]},{"id":"8b21cc987e81f966","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":780,"wires":[["043eafc21f265d5a"]]},{"id":"043eafc21f265d5a","type":"api-current-state","z":"1ebe88dbd0ceed72","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":780,"wires":[["78eafebe736bd989"]]},{"id":"78eafebe736bd989","type":"function","z":"1ebe88dbd0ceed72","name":"Auf Leckage prüfen","func":"// ============================================================================\n// Leckage Detektiv - Erkennung unerwünschter Verbräuche durch Rohrlecks o.a.\n// Version: 1.00\n// Datum:   25.01.2025\n// Quelle:  https://github.com/migacode/home-assistant\n// =============================================================================\n// Konfiguration\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Mindestdifferenz zwischen Zählerständen, ab der eine Leckage erkannt wird -\n// kann dazu genutzt werden, permanente gewollte Entnahmen zu berücksichtigen\n// -----------------------------------------------------------------------------\nvar leck_min_diff = 0.00009;\n// =============================================================================\n// Initialisierung\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alle zuvor ermittelten und zwischengespeicherten Zählerstände einlesen\n// -----------------------------------------------------------------------------\nvar leckdet_aktuell = parseFloat(msg.leckdet_stand_aktuell);\nvar leckdet_stand_1 = parseFloat(msg.leckdet_stand_1.daten.state);\nvar leckdet_stand_2 = parseFloat(msg.leckdet_stand_2.daten.state);\nvar leckdet_stand_3 = parseFloat(msg.leckdet_stand_3.daten.state);\n// -----------------------------------------------------------------------------\n// Differenzen zwischen den Zählerständen berechnen\n// -----------------------------------------------------------------------------\nvar diff_1 = Math.abs(leckdet_stand_2 - leckdet_stand_1);\nvar diff_2 = Math.abs(leckdet_stand_3 - leckdet_stand_2);\nvar diff_3 = Math.abs(leckdet_aktuell - leckdet_stand_3);\n// =============================================================================\n// Here we go ...\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alten Payload löschen, um keine Daten daraus mit weiterzuleiten\n// -----------------------------------------------------------------------------\nmsg.payload = [];\nvar output = {};\n// -----------------------------------------------------------------------------\n// Ausgabe erzeugen (nur zum testen, nicht relevant für die Funktion selbst)\n// -----------------------------------------------------------------------------\noutput.payload = {\n  msg: \"Aktuell : \" + leckdet_aktuell + \", Zähler 1 : \" + leckdet_stand_1 + \", Zähler 2 : \" + leckdet_stand_2 + \", Zähler 3 : \" + leckdet_stand_3 + \", D1: \" + diff_1 + \", D2: \" + diff_2 + \", D3: \" + diff_3\n}\n// -----------------------------------------------------------------------------\n// Wenn bei allen Messungen größere Verlustmengen ermittelt wurden als erlaubt\n// existiert vermutlich eine Leckage - in dem Fall Ausgang 1 triggern ...\n// -----------------------------------------------------------------------------\nif (diff_1 >= leck_min_diff && diff_2 >= leck_min_diff && diff_3 >= leck_min_diff)\n{\n  node.send([output, null]); // asynchron\n  node.done();\n  // return [output, null]; // synchron\n}\n// -----------------------------------------------------------------------------\n// ... sonst Ausgang 2 triggern\n// -----------------------------------------------------------------------------\nelse\n{\n  node.send([null, output]); // asynchron\n  node.done();\n  // return [null, output]; // synchron\n}\n// -----------------------------------------------------------------------------\n// Skript OHNE Rückmeldung beenden (Daten wurden schon mit node.send gesendet)\n// -----------------------------------------------------------------------------\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":880,"wires":[["ee96db0eb5357d1f"],["3b5912fa8e1a3ce9"]]},{"id":"04c72e435be32ac4","type":"debug","z":"1ebe88dbd0ceed72","name":"Leckage entdeckt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"5241ad3a190e11ca","type":"debug","z":"1ebe88dbd0ceed72","name":"Keine Leckage entdeckt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":900,"wires":[]},{"id":"ee96db0eb5357d1f","type":"api-call-service","z":"1ebe88dbd0ceed72","name":"Leck erkannt AN","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":860,"wires":[["04c72e435be32ac4"]]},{"id":"3b5912fa8e1a3ce9","type":"api-call-service","z":"1ebe88dbd0ceed72","name":"Leck erkannt AUS","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":900,"wires":[["5241ad3a190e11ca"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]