leckdet/code/leckdet_nodered_flow_1.00.json
[{"id":"a7f2fcadfff2cf30","type":"tab","label":"LeckDet 1.00","disabled":false,"info":"","env":[]},{"id":"b591e06eda8f3292","type":"api-call-service","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 1 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_1"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":600,"wires":[["76a0c374340d0677"]]},{"id":"c7ebee3f5ddf6764","type":"inject","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":400,"wires":[["058b0fda0ccddd19"]]},{"id":"058b0fda0ccddd19","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":400,"wires":[["ba194922adee5e73"]]},{"id":"ba194922adee5e73","type":"debug","z":"a7f2fcadfff2cf30","name":"Aktueller Zählerstand","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"76a0c374340d0677","type":"debug","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"9b9dacdd4d26501a","type":"comment","z":"a7f2fcadfff2cf30","name":"Werte anzeigen","info":"","x":120,"y":340,"wires":[]},{"id":"4cd7de79085b1b2c","type":"comment","z":"a7f2fcadfff2cf30","name":"Automatisierungen","info":"","x":130,"y":540,"wires":[]},{"id":"f5fa3c4f9b9a95fb","type":"comment","z":"a7f2fcadfff2cf30","name":"LeckDet 1.00 | Leckage-Detektiv","info":"","x":170,"y":60,"wires":[]},{"id":"22752243d63be909","type":"comment","z":"a7f2fcadfff2cf30","name":"HINWEISE \\n Benötigt werden folgende Helfer in Home Assistant: \\n - input_number.leckage_detektiv_zahlerstand_1 \\n - input_number.leckage_detektiv_zahlerstand_2 \\n - input_number.leckage_detektiv_zahlerstand_3 \\n sowie \\n - input_boolean.leckage_detektiv_leck_erkannt","info":"","x":230,"y":180,"wires":[]},{"id":"59eea7289081204b","type":"inject","z":"a7f2fcadfff2cf30","name":"Erste Messung um 03:00 Uhr","props":[],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["05e8816ef0e0d36b"]]},{"id":"4a385e861501de85","type":"debug","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstände","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\"Zwischen-Zählerstände\":$join([\"Zähler 1 : \",$string(leckdet_stand_1.daten.state),\" | Zähler 2 : \",$string(leckdet_stand_2.daten.state),\" | Zähler 3 : \",$string(leckdet_stand_3.daten.state)])}","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"0322746fb43ad20c","type":"api-call-service","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 2 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_2"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":660,"wires":[["2b44a34309035f64"]]},{"id":"2b44a34309035f64","type":"debug","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":660,"wires":[]},{"id":"40343e5b6bc42015","type":"inject","z":"a7f2fcadfff2cf30","name":"Zweite Messung um 03:15 Uhr","props":[],"repeat":"","crontab":"15 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":660,"wires":[["57bf7dec70cecfdc"]]},{"id":"d2fc1d29a99df6d4","type":"api-call-service","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 3 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_3"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":720,"wires":[["4baa3c26efdcb2e2"]]},{"id":"4baa3c26efdcb2e2","type":"debug","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstand 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":720,"wires":[]},{"id":"37ae750632f39599","type":"inject","z":"a7f2fcadfff2cf30","name":"Dritte Messung um 03:30 Uhr","props":[],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":720,"wires":[["3245d38c5cbf4f3b"]]},{"id":"27e9d0ba21a343f0","type":"inject","z":"a7f2fcadfff2cf30","name":"Vierte Messung um 03:45 Uhr","props":[],"repeat":"","crontab":"45 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":780,"wires":[["a7288dfb67e2687f"]]},{"id":"49f291b59b11b35d","type":"inject","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstände anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":460,"wires":[["417d207d8f54fcc6"]]},{"id":"417d207d8f54fcc6","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":460,"wires":[["4a385e861501de85"]]},{"id":"05e8816ef0e0d36b","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":600,"wires":[["b591e06eda8f3292"]]},{"id":"57bf7dec70cecfdc","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":660,"wires":[["0322746fb43ad20c"]]},{"id":"3245d38c5cbf4f3b","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["d2fc1d29a99df6d4"]]},{"id":"a7288dfb67e2687f","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":780,"wires":[["098d83d7b4cde3d1"]]},{"id":"098d83d7b4cde3d1","type":"api-current-state","z":"a7f2fcadfff2cf30","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":780,"wires":[["676a2963609acb95"]]},{"id":"676a2963609acb95","type":"function","z":"a7f2fcadfff2cf30","name":"Auf Leckage prüfen","func":"// ============================================================================\n// Leckage Detektiv - Erkennung unerwünschter Verbräuche durch Rohrlecks o.a.\n// Version: 1.00\n// Datum:   25.01.2025\n// Quelle:  https://github.com/migacode/home-assistant\n// =============================================================================\n// Konfiguration\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Mindestdifferenz zwischen Zählerständen, ab der eine Leckage erkannt wird -\n// kann dazu genutzt werden, permanente gewollte Entnahmen zu berücksichtigen\n// -----------------------------------------------------------------------------\nvar leck_min_diff = 0.00009;\n// =============================================================================\n// Initialisierung\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alle zuvor ermittelten und zwischengespeicherten Zählerstände einlesen\n// -----------------------------------------------------------------------------\nvar leckdet_aktuell = parseFloat(msg.leckdet_stand_aktuell);\nvar leckdet_stand_1 = parseFloat(msg.leckdet_stand_1.daten.state);\nvar leckdet_stand_2 = parseFloat(msg.leckdet_stand_2.daten.state);\nvar leckdet_stand_3 = parseFloat(msg.leckdet_stand_3.daten.state);\n// -----------------------------------------------------------------------------\n// Differenzen zwischen den Zählerständen berechnen\n// -----------------------------------------------------------------------------\nvar diff_1 = Math.abs(leckdet_stand_2 - leckdet_stand_1);\nvar diff_2 = Math.abs(leckdet_stand_3 - leckdet_stand_2);\nvar diff_3 = Math.abs(leckdet_aktuell - leckdet_stand_3);\n// =============================================================================\n// Here we go ...\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alten Payload löschen, um keine Daten daraus mit weiterzuleiten\n// -----------------------------------------------------------------------------\nmsg.payload = [];\nvar output = {};\n// -----------------------------------------------------------------------------\n// Ausgabe erzeugen (nur zum testen, nicht relevant für die Funktion selbst)\n// -----------------------------------------------------------------------------\noutput.payload = {\n  msg: \"Aktuell : \" + leckdet_aktuell + \", Zähler 1 : \" + leckdet_stand_1 + \", Zähler 2 : \" + leckdet_stand_2 + \", Zähler 3 : \" + leckdet_stand_3 + \", D1: \" + diff_1 + \", D2: \" + diff_2 + \", D3: \" + diff_3\n}\n// -----------------------------------------------------------------------------\n// Wenn bei allen Messungen größere Verlustmengen ermittelt wurden als erlaubt\n// existiert vermutlich eine Leckage - in dem Fall Ausgang 1 triggern ...\n// -----------------------------------------------------------------------------\nif (diff_1 >= leck_min_diff && diff_2 >= leck_min_diff && diff_3 >= leck_min_diff)\n{\n  node.send([output, null]); // asynchron\n  node.done();\n  // return [output, null]; // synchron\n}\n// -----------------------------------------------------------------------------\n// ... sonst Ausgang 2 triggern\n// -----------------------------------------------------------------------------\nelse\n{\n  node.send([null, output]); // asynchron\n  node.done();\n  // return [null, output]; // synchron\n}\n// -----------------------------------------------------------------------------\n// Skript OHNE Rückmeldung beenden (Daten wurden schon mit node.send gesendet)\n// -----------------------------------------------------------------------------\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":880,"wires":[["d772aa8cfd741211"],["ed766513b3465101"]]},{"id":"e138c0723597d67a","type":"debug","z":"a7f2fcadfff2cf30","name":"Leckage entdeckt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"72aed6f98716199e","type":"debug","z":"a7f2fcadfff2cf30","name":"Keine Leckage entdeckt","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":900,"wires":[]},{"id":"d772aa8cfd741211","type":"api-call-service","z":"a7f2fcadfff2cf30","name":"Leck erkannt AN","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":860,"wires":[["e138c0723597d67a"]]},{"id":"ed766513b3465101","type":"api-call-service","z":"a7f2fcadfff2cf30","name":"Leck erkannt AUS","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":900,"wires":[["72aed6f98716199e"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]