leckdet/code/leckdet_nodered_flow_1.00.json
[{"id":"dd249a921cb30693","type":"tab","label":"LeckDet 1.00","disabled":false,"info":"","env":[]},{"id":"dfb485604662db3b","type":"api-call-service","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 1 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_1"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":600,"wires":[["8b92273b1b9c11ac"]]},{"id":"09d6f0d298ed98b4","type":"inject","z":"dd249a921cb30693","name":"Aktuellen Zählerstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":400,"wires":[["f824aebbeddf6845"]]},{"id":"f824aebbeddf6845","type":"api-current-state","z":"dd249a921cb30693","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":400,"wires":[["380cc0daf5831b0d"]]},{"id":"380cc0daf5831b0d","type":"debug","z":"dd249a921cb30693","name":"Aktueller Zählerstand","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"8b92273b1b9c11ac","type":"debug","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"f9d48f1319a34a22","type":"comment","z":"dd249a921cb30693","name":"Werte anzeigen","info":"","x":120,"y":340,"wires":[]},{"id":"f49a932f27a008c7","type":"comment","z":"dd249a921cb30693","name":"Automatisierungen","info":"","x":130,"y":540,"wires":[]},{"id":"16aac6ddf32223ef","type":"comment","z":"dd249a921cb30693","name":"LeckDet 1.00 | Leckage-Detektiv","info":"","x":170,"y":60,"wires":[]},{"id":"e5763c66f6ed7962","type":"comment","z":"dd249a921cb30693","name":"HINWEISE \\n Benötigt werden folgende Helfer in Home Assistant: \\n - input_number.leckage_detektiv_zahlerstand_1 \\n - input_number.leckage_detektiv_zahlerstand_2 \\n - input_number.leckage_detektiv_zahlerstand_3 \\n sowie \\n - input_boolean.leckage_detektiv_leck_erkannt","info":"","x":230,"y":180,"wires":[]},{"id":"b263ecac82995a5f","type":"inject","z":"dd249a921cb30693","name":"Erste Messung um 03:00 Uhr","props":[],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["b42bf20767afc4dc"]]},{"id":"59f94d4104d29b49","type":"debug","z":"dd249a921cb30693","name":"Zwischen-Zählerstände","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\"Zwischen-Zählerstände\":$join([\"Zähler 1 : \",$string(leckdet_stand_1.daten.state),\" | Zähler 2 : \",$string(leckdet_stand_2.daten.state),\" | Zähler 3 : \",$string(leckdet_stand_3.daten.state)])}","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":460,"wires":[]},{"id":"ceeaa3159f65f893","type":"api-call-service","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 2 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_2"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":660,"wires":[["6a4365c0da05bc30"]]},{"id":"6a4365c0da05bc30","type":"debug","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":660,"wires":[]},{"id":"1407670b46453199","type":"inject","z":"dd249a921cb30693","name":"Zweite Messung um 03:15 Uhr","props":[],"repeat":"","crontab":"15 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":660,"wires":[["0df121ac004f538e"]]},{"id":"03b8aa42e0ac8f55","type":"api-call-service","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 3 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_3"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":720,"wires":[["3ed8b7a7ace44d85"]]},{"id":"3ed8b7a7ace44d85","type":"debug","z":"dd249a921cb30693","name":"Zwischen-Zählerstand 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":720,"wires":[]},{"id":"097a93e203dad3fd","type":"inject","z":"dd249a921cb30693","name":"Dritte Messung um 03:30 Uhr","props":[],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":720,"wires":[["039d7a6bc2769b8f"]]},{"id":"f635db1995f9a602","type":"inject","z":"dd249a921cb30693","name":"Vierte Messung um 03:45 Uhr","props":[],"repeat":"","crontab":"45 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":780,"wires":[["f061e00e2da7afa6"]]},{"id":"e54c84f49befc343","type":"inject","z":"dd249a921cb30693","name":"Zwischen-Zählerstände anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":460,"wires":[["510cd05d7761a29d"]]},{"id":"510cd05d7761a29d","type":"api-current-state","z":"dd249a921cb30693","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":460,"wires":[["59f94d4104d29b49"]]},{"id":"b42bf20767afc4dc","type":"api-current-state","z":"dd249a921cb30693","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":600,"wires":[["dfb485604662db3b"]]},{"id":"0df121ac004f538e","type":"api-current-state","z":"dd249a921cb30693","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":660,"wires":[["ceeaa3159f65f893"]]},{"id":"039d7a6bc2769b8f","type":"api-current-state","z":"dd249a921cb30693","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["03b8aa42e0ac8f55"]]},{"id":"f061e00e2da7afa6","type":"api-current-state","z":"dd249a921cb30693","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":780,"wires":[["3c8f599277be8e5a"]]},{"id":"3c8f599277be8e5a","type":"api-current-state","z":"dd249a921cb30693","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":780,"wires":[["3e88a8fe26e93285"]]},{"id":"3e88a8fe26e93285","type":"function","z":"dd249a921cb30693","name":"Auf Leckage prüfen","func":"// ============================================================================\n// Leckage Detektiv - Erkennung unerwünschter Verbräuche durch Rohrlecks o.a.\n// Version: 1.00\n// Datum:   25.01.2025\n// Quelle:  https://github.com/migacode/home-assistant\n// =============================================================================\n// Konfiguration\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Mindestdifferenz zwischen Zählerständen, ab der eine Leckage erkannt wird -\n// kann dazu genutzt werden, permanente gewollte Entnahmen zu berücksichtigen\n// -----------------------------------------------------------------------------\nvar leck_min_diff = 0.00009;\n// =============================================================================\n// Initialisierung\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alle zuvor ermittelten und zwischengespeicherten Zählerstände einlesen\n// -----------------------------------------------------------------------------\nvar leckdet_aktuell = parseFloat(msg.leckdet_stand_aktuell);\nvar leckdet_stand_1 = parseFloat(msg.leckdet_stand_1.daten.state);\nvar leckdet_stand_2 = parseFloat(msg.leckdet_stand_2.daten.state);\nvar leckdet_stand_3 = parseFloat(msg.leckdet_stand_3.daten.state);\n// -----------------------------------------------------------------------------\n// Differenzen zwischen den Zählerständen berechnen\n// -----------------------------------------------------------------------------\nvar diff_1 = Math.abs(leckdet_stand_2 - leckdet_stand_1);\nvar diff_2 = Math.abs(leckdet_stand_3 - leckdet_stand_2);\nvar diff_3 = Math.abs(leckdet_aktuell - leckdet_stand_3);\n// =============================================================================\n// Here we go ...\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alten Payload löschen, um keine Daten daraus mit weiterzuleiten\n// -----------------------------------------------------------------------------\nmsg.payload = [];\nvar output = {};\n// -----------------------------------------------------------------------------\n// Ausgabe erzeugen (nur zum testen, nicht relevant für die Funktion selbst)\n// -----------------------------------------------------------------------------\noutput.payload = {\n  msg: \"Aktuell : \" + leckdet_aktuell + \", Zähler 1 : \" + leckdet_stand_1 + \", Zähler 2 : \" + leckdet_stand_2 + \", Zähler 3 : \" + leckdet_stand_3 + \", D1: \" + diff_1 + \", D2: \" + diff_2 + \", D3: \" + diff_3\n}\n// -----------------------------------------------------------------------------\n// Wenn bei allen Messungen größere Verlustmengen ermittelt wurden als erlaubt\n// existiert vermutlich eine Leckage - in dem Fall Ausgang 1 triggern ...\n// -----------------------------------------------------------------------------\nif (diff_1 >= leck_min_diff && diff_2 >= leck_min_diff && diff_3 >= leck_min_diff)\n{\n  node.send([output, null]); // asynchron\n  node.done();\n  // return [output, null]; // synchron\n}\n// -----------------------------------------------------------------------------\n// ... sonst Ausgang 2 triggern\n// -----------------------------------------------------------------------------\nelse\n{\n  node.send([null, output]); // asynchron\n  node.done();\n  // return [null, output]; // synchron\n}\n// -----------------------------------------------------------------------------\n// Skript OHNE Rückmeldung beenden (Daten wurden schon mit node.send gesendet)\n// -----------------------------------------------------------------------------\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":880,"wires":[["5e189004cc37b455"],["5bf2b6a3d263a98f"]]},{"id":"0e294b5f0505f8ae","type":"debug","z":"dd249a921cb30693","name":"Leckage entdeckt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":860,"wires":[]},{"id":"5159396861d3bb84","type":"debug","z":"dd249a921cb30693","name":"Keine Leckage entdeckt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":900,"wires":[]},{"id":"5e189004cc37b455","type":"api-call-service","z":"dd249a921cb30693","name":"Leck erkannt AN","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":860,"wires":[["0e294b5f0505f8ae"]]},{"id":"5bf2b6a3d263a98f","type":"api-call-service","z":"dd249a921cb30693","name":"Leck erkannt AUS","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.leckage_detektiv_leck_erkannt"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":900,"wires":[["5159396861d3bb84"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]