leckdet/code/leckdet_nodered_flow_1.01.json
[{"id":"7fdfa282d9473d09","type":"tab","label":"LeckDet 1.01","disabled":false,"info":"","env":[]},{"id":"9020c5871ccabbed","type":"api-call-service","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 1 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_1"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":540,"wires":[["fd57fce199eb97bd"]]},{"id":"2cba772322c76e15","type":"inject","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":340,"wires":[["7a62e0054b5df49a"]]},{"id":"7a62e0054b5df49a","type":"api-current-state","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":340,"wires":[["c501aa611ca92ebe"]]},{"id":"c501aa611ca92ebe","type":"debug","z":"7fdfa282d9473d09","name":"Aktueller Zählerstand","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":340,"wires":[]},{"id":"fd57fce199eb97bd","type":"debug","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":540,"wires":[]},{"id":"33517f3b44ee557d","type":"comment","z":"7fdfa282d9473d09","name":"Werte anzeigen","info":"","x":120,"y":280,"wires":[]},{"id":"99bbdd41b80dfa79","type":"comment","z":"7fdfa282d9473d09","name":"Automatisierungen","info":"","x":130,"y":480,"wires":[]},{"id":"b6caeca476547b56","type":"comment","z":"7fdfa282d9473d09","name":"LeckDet 1.01 | Leckage-Detektiv","info":"","x":170,"y":60,"wires":[]},{"id":"4ca14aa02869a3d1","type":"inject","z":"7fdfa282d9473d09","name":"Erste Messung um 03:00 Uhr","props":[],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":540,"wires":[["7c9b765b3139ff14"]]},{"id":"097986157ded06cc","type":"debug","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstände","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\"Zwischen-Zählerstände\":$join([\"Zähler 1 : \",$string(leckdet_stand_1.daten.state),\" | Zähler 2 : \",$string(leckdet_stand_2.daten.state),\" | Zähler 3 : \",$string(leckdet_stand_3.daten.state)])}","targetType":"jsonata","statusVal":"","statusType":"auto","x":810,"y":400,"wires":[]},{"id":"8c0aa7d348e052c6","type":"api-call-service","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 2 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_2"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":600,"wires":[["5506354de5d5c295"]]},{"id":"5506354de5d5c295","type":"debug","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":600,"wires":[]},{"id":"2d8cd2d12e1e4e4b","type":"inject","z":"7fdfa282d9473d09","name":"Zweite Messung um 03:15 Uhr","props":[],"repeat":"","crontab":"15 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["153b864410c79370"]]},{"id":"0bf55fe4c15fafa5","type":"api-call-service","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 3 speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.leckage_detektiv_zahlerstand_3"],"data":"{\"value\":leckdet_stand_aktuell}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":660,"wires":[["b12127e8c82e4209"]]},{"id":"b12127e8c82e4209","type":"debug","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstand 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"leckdet_stand_aktuell","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":660,"wires":[]},{"id":"fc626d195026433f","type":"inject","z":"7fdfa282d9473d09","name":"Dritte Messung um 03:30 Uhr","props":[],"repeat":"","crontab":"30 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":660,"wires":[["6e269137a4bbb549"]]},{"id":"526c5bd049a312e6","type":"inject","z":"7fdfa282d9473d09","name":"Vierte Messung um 03:45 Uhr","props":[],"repeat":"","crontab":"45 03 * * *","once":false,"onceDelay":0.1,"topic":"","x":190,"y":720,"wires":[["d4c3d817e823a73a"]]},{"id":"7cfbf53a5f6a0eba","type":"inject","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstände anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":400,"wires":[["ef85a1098a1c7923"]]},{"id":"ef85a1098a1c7923","type":"api-current-state","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":400,"wires":[["097986157ded06cc"]]},{"id":"7c9b765b3139ff14","type":"api-current-state","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":540,"wires":[["9020c5871ccabbed"]]},{"id":"153b864410c79370","type":"api-current-state","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":600,"wires":[["8c0aa7d348e052c6"]]},{"id":"6e269137a4bbb549","type":"api-current-state","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":660,"wires":[["0bf55fe4c15fafa5"]]},{"id":"d4c3d817e823a73a","type":"api-current-state","z":"7fdfa282d9473d09","name":"Aktuellen Zählerstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.watermeter_raw","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_aktuell","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":720,"wires":[["857e0e669ec95a1a"]]},{"id":"857e0e669ec95a1a","type":"api-current-state","z":"7fdfa282d9473d09","name":"Zwischen-Zählerstände einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.leckage_detektiv_zahlerstand_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"leckdet_stand_1","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_1\")}","valueType":"jsonata"},{"property":"leckdet_stand_2","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_2\")}","valueType":"jsonata"},{"property":"leckdet_stand_3","propertyType":"msg","value":"{\"daten\":$entities(\"input_number.leckage_detektiv_zahlerstand_3\")}","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":830,"y":720,"wires":[["727458c0f6182d1b"]]},{"id":"727458c0f6182d1b","type":"function","z":"7fdfa282d9473d09","name":"Auf Leckage prüfen","func":"// ============================================================================\n// Leckage Detektiv - Erkennung unerwünschter Verbräuche durch Rohrlecks o.a.\n// Version: 1.01\n// Datum:   26.01.2025\n// Quelle:  https://github.com/migacode/home-assistant\n// =============================================================================\n// Konfiguration\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Mindestdifferenz zwischen Zählerständen, ab der eine Leckage erkannt wird -\n// kann dazu genutzt werden, permanente gewollte Entnahmen zu berücksichtigen\n// -----------------------------------------------------------------------------\nvar leck_min_diff = 0.00009;\n// =============================================================================\n// Initialisierung\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alle zuvor ermittelten und zwischengespeicherten Zählerstände einlesen\n// -----------------------------------------------------------------------------\nvar leckdet_aktuell = parseFloat(msg.leckdet_stand_aktuell);\nvar leckdet_stand_1 = parseFloat(msg.leckdet_stand_1.daten.state);\nvar leckdet_stand_2 = parseFloat(msg.leckdet_stand_2.daten.state);\nvar leckdet_stand_3 = parseFloat(msg.leckdet_stand_3.daten.state);\n// -----------------------------------------------------------------------------\n// Differenzen zwischen den Zählerständen berechnen\n// -----------------------------------------------------------------------------\nvar diff_1 = Math.abs(leckdet_stand_2 - leckdet_stand_1);\nvar diff_2 = Math.abs(leckdet_stand_3 - leckdet_stand_2);\nvar diff_3 = Math.abs(leckdet_aktuell - leckdet_stand_3);\n// =============================================================================\n// Here we go ...\n// =============================================================================\n// -----------------------------------------------------------------------------\n// Alten Payload löschen, um keine Daten daraus mit weiterzuleiten\n// -----------------------------------------------------------------------------\nmsg.payload = [];\nvar output = {};\n// -----------------------------------------------------------------------------\n// Ausgabe erzeugen (nur zum testen, nicht relevant für die Funktion selbst)\n// -----------------------------------------------------------------------------\noutput.payload = {\n  msg: \"Aktuell : \" + leckdet_aktuell + \", Zähler 1 : \" + leckdet_stand_1 + \", Zähler 2 : \" + leckdet_stand_2 + \", Zähler 3 : \" + leckdet_stand_3 + \", D1: \" + diff_1 + \", D2: \" + diff_2 + \", D3: \" + diff_3\n}\n// -----------------------------------------------------------------------------\n// Wenn bei allen Messungen größere Verlustmengen ermittelt wurden als erlaubt\n// existiert vermutlich eine Leckage - in dem Fall Ausgang 1 triggern ...\n// -----------------------------------------------------------------------------\nif (diff_1 >= leck_min_diff && diff_2 >= leck_min_diff && diff_3 >= leck_min_diff)\n{\n  node.send([output, null]); // asynchron\n  node.done();\n  // return [output, null]; // synchron\n}\n// -----------------------------------------------------------------------------\n// ... sonst Ausgang 2 triggern\n// -----------------------------------------------------------------------------\nelse\n{\n  node.send([null, output]); // asynchron\n  node.done();\n  // return [null, output]; // synchron\n}\n// -----------------------------------------------------------------------------\n// Skript OHNE Rückmeldung beenden (Daten wurden schon mit node.send gesendet)\n// -----------------------------------------------------------------------------\nreturn null;","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":835.0000076293945,"y":848.0000133514404,"wires":[["5993e50ebe431a7f","593b86a71ab6cc5b","f57329bcaa103466"],["68031b1337d09ffc"]]},{"id":"cbad207bd56ad136","type":"comment","z":"7fdfa282d9473d09","name":"HINWEISE \\n Benötigt werden folgende Helfer in Home Assistant: \\n - input_number.leckage_detektiv_zahlerstand_1 \\n - input_number.leckage_detektiv_zahlerstand_2 \\n - input_number.leckage_detektiv_zahlerstand_3","info":"","x":230,"y":160,"wires":[]},{"id":"5993e50ebe431a7f","type":"api-call-service","z":"7fdfa282d9473d09","name":"3.c Nachricht an Telegram senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"telegram_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Leckage entdeckt!\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":900,"wires":[[]]},{"id":"f57329bcaa103466","type":"api-call-service","z":"7fdfa282d9473d09","name":"3.a Nachricht an Dashboard senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"persistent_notification","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Leckage entdeckt!\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1130,"y":780,"wires":[[]]},{"id":"593b86a71ab6cc5b","type":"api-call-service","z":"7fdfa282d9473d09","name":"3.b Nachricht an HA-App senden","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_galaxy_von_michael","areaId":[],"deviceId":[],"entityId":[],"data":"{ \"message\" : \"Leckage entdeckt!\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":840,"wires":[[]]},{"id":"68031b1337d09ffc","type":"debug","z":"7fdfa282d9473d09","name":"Keine Leckage entdeckt","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":960,"wires":[]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]