bem/code/bem_nodered_flow_1.10.json
[{"id":"5cfccde3607c9790","type":"tab","label":"BEM 1.10","disabled":false,"info":"","env":[]},{"id":"1e81ccb6c7412d0d","type":"inject","z":"5cfccde3607c9790","name":"1. Entnahme Beginn (vor bzw. mit \\n Beginn der Entnahme triggern)","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":800,"wires":[["f6f56a9f0653a10f"]]},{"id":"87098433d4fd0693","type":"api-current-state","z":"5cfccde3607c9790","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":860,"wires":[["f1fc298c56180f4e"]]},{"id":"f1fc298c56180f4e","type":"api-call-service","z":"5cfccde3607c9790","name":"Füllstand bei Entnahmebeginn merken (speichern)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_stand_bei_beginn_letzter_entnahme"],"data":"{\"value\":stand_beginn}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":860,"wires":[["2711796e9037aeaf","6c1519872674c998"]]},{"id":"6e7d29815c578ab5","type":"inject","z":"5cfccde3607c9790","name":"Aktuellen Füllstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":420,"wires":[["616edadeee526350"]]},{"id":"616edadeee526350","type":"api-current-state","z":"5cfccde3607c9790","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":420,"wires":[["43d50abebadc600b"]]},{"id":"43d50abebadc600b","type":"debug","z":"5cfccde3607c9790","name":"Aktueller Füllstand des Behälters","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":420,"wires":[]},{"id":"e14ca08db5b54409","type":"inject","z":"5cfccde3607c9790","name":"2. Entnahme Ende (nach bzw. mit \\n Ende der Entnahme triggern)","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1000,"wires":[["73d9f66e6bdb52bb"]]},{"id":"8ba377b6a4bb0edd","type":"api-current-state","z":"5cfccde3607c9790","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_ende","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":1060,"wires":[["f5b922c20360147f"]]},{"id":"06b0b58294c5abb4","type":"inject","z":"5cfccde3607c9790","d":true,"name":"Gesamtentnahme zurücksetzen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["b4004890063a17e9"]]},{"id":"b4004890063a17e9","type":"api-call-service","z":"5cfccde3607c9790","name":"Gesamtentnahme auf 0 Liter setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":600,"wires":[[]]},{"id":"64b7bcf64f4e99a1","type":"inject","z":"5cfccde3607c9790","name":"Gesamtentnahme anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":540,"wires":[["f397f1fcc05ffc73"]]},{"id":"f397f1fcc05ffc73","type":"api-current-state","z":"5cfccde3607c9790","name":"Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":540,"wires":[["70d9b3f1e7dc9336"]]},{"id":"70d9b3f1e7dc9336","type":"debug","z":"5cfccde3607c9790","name":"Gesamtentnahme seit letztem Zurücksetzen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"f5b922c20360147f","type":"api-current-state","z":"5cfccde3607c9790","name":"Bei Entnahmebeginn gespeicherten Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_stand_bei_beginn_letzter_entnahme","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1060,"wires":[["ae1847503eeef934"]]},{"id":"ae1847503eeef934","type":"change","z":"5cfccde3607c9790","name":"Differenz (letzte Entnahme) berechnen","rules":[{"t":"set","p":"entnahme_letzte","pt":"msg","to":"stand_beginn - stand_ende","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1120,"wires":[["7b2613fb2e1cd08e","39b23c4099b81379"]]},{"id":"7b2613fb2e1cd08e","type":"api-current-state","z":"5cfccde3607c9790","name":"Letzte Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_gesamt","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1120,"wires":[["098cf7adfe7fbf7b","8a384e10d7e61e90"]]},{"id":"098cf7adfe7fbf7b","type":"change","z":"5cfccde3607c9790","name":"Neue Gesamtentnahme berechnen","rules":[{"t":"set","p":"entnahme_gesamt","pt":"msg","to":"entnahme_gesamt + entnahme_letzte","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":1180,"wires":[["d69ec01ac97ebb12"]]},{"id":"d69ec01ac97ebb12","type":"api-call-service","z":"5cfccde3607c9790","name":"Neue Gesamtentnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":entnahme_gesamt}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":1240,"wires":[["a77df0ea1271484a","82852ea7fe6437fb"]]},{"id":"6c1519872674c998","type":"debug","z":"5cfccde3607c9790","name":"Stand vor Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stand_beginn","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":860,"wires":[]},{"id":"82852ea7fe6437fb","type":"debug","z":"5cfccde3607c9790","name":"Gesamtentnahme nach letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":1240,"wires":[]},{"id":"8a384e10d7e61e90","type":"debug","z":"5cfccde3607c9790","name":"Gesamtentnahme vor letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":1120,"wires":[]},{"id":"3208f7d6226eb1ec","type":"comment","z":"5cfccde3607c9790","name":"Werte anzeigen und löschen","info":"","x":160,"y":360,"wires":[]},{"id":"867502026f41b7aa","type":"comment","z":"5cfccde3607c9790","name":"Automatisierungen \\n ACHTUNG: Zur korrekten Berechnung muss immer zuerst Flow 1 und danach Flow 2 ausgeführt werden! \\n Dazu idealerweise Flow 1 direkt vor der Entnahme und Flow 2 direkt nach der Entnahme durchführen.","info":"","x":400,"y":700,"wires":[]},{"id":"a905df2b635607d2","type":"comment","z":"5cfccde3607c9790","name":"BEM 1.10 | Behälter-Entnahme-Messung | Entnahmemengen einzeln und gesamt erfassen","info":"","x":350,"y":60,"wires":[]},{"id":"102b1c1709daa3b2","type":"comment","z":"5cfccde3607c9790","name":"HINWEISE: \\n In allen Nodes namens \"Aktuellen Füllstand einlesen\" die Entität \"sensor.behaelter_fuellstand_aktuell\" durch den eigenen tatsächlichen Sensor ersetzen.  \\n ---------- \\n Benötigt werden folgende Helfer aus Home Assistant: \\n - input_number.bem_entnahme_gesamt (insgesamt entnommene Menge) \\n - input_number.bem_entnahme_letzte (letzte einzeln entnommene Menge) \\n - input_number.bem_stand_bei_beginn_letzter_entnahme (Füllstand des Behälters zu Beginn der letzten Entnahme) \\n sowie \\n - input_boolean.bem_entnahme_status (Status der Entnahme - läuft oder nicht)","info":"","x":540,"y":200,"wires":[]},{"id":"39b23c4099b81379","type":"api-call-service","z":"5cfccde3607c9790","name":"Differenz / letzte Entnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_letzte"],"data":"{\"value\":entnahme_letzte}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":1180,"wires":[["82729099a1823bc8"]]},{"id":"82729099a1823bc8","type":"debug","z":"5cfccde3607c9790","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_letzte","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1240,"wires":[]},{"id":"224526f9056fa6fd","type":"inject","z":"5cfccde3607c9790","name":"Letzte Entnahmemenge anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":480,"wires":[["25186e803e2e6530"]]},{"id":"25186e803e2e6530","type":"api-current-state","z":"5cfccde3607c9790","name":"Letzte Entnahmemenge einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_letzte","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":480,"wires":[["fb7e69f8f38ba96d"]]},{"id":"fb7e69f8f38ba96d","type":"debug","z":"5cfccde3607c9790","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]},{"id":"f6f56a9f0653a10f","type":"api-current-state","z":"5cfccde3607c9790","name":"Entnahmestatus ermitteln","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bem_entnahme_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_status","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":800,"wires":[["a66c832f88d25cc8"]]},{"id":"a66c832f88d25cc8","type":"switch","z":"5cfccde3607c9790","name":"Status prüfen","property":"entnahme_status","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":800,"wires":[["50ee10cbb775cb5e"],["87098433d4fd0693"]]},{"id":"50ee10cbb775cb5e","type":"debug","z":"5cfccde3607c9790","name":"Abbruch: Es wurde bereits eine Entnahme begonnen!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_status","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":800,"wires":[]},{"id":"9672b21116a08db6","type":"debug","z":"5cfccde3607c9790","name":"Abbruch: Es wurde noch keine neue Entnahme begonnen!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_status","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1000,"wires":[]},{"id":"2711796e9037aeaf","type":"api-call-service","z":"5cfccde3607c9790","name":"Entnahmestatus auf \"begonnen\" setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bem_entnahme_status"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":920,"wires":[[]]},{"id":"a77df0ea1271484a","type":"api-call-service","z":"5cfccde3607c9790","name":"Entnahmestatus auf \"beendet\" setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bem_entnahme_status"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":1300,"wires":[[]]},{"id":"73d9f66e6bdb52bb","type":"api-current-state","z":"5cfccde3607c9790","name":"Entnahmestatus ermitteln","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bem_entnahme_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_status","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":1000,"wires":[["66df34a933ab257b"]]},{"id":"66df34a933ab257b","type":"switch","z":"5cfccde3607c9790","name":"Status prüfen","property":"entnahme_status","propertyType":"msg","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1000,"wires":[["9672b21116a08db6"],["8ba377b6a4bb0edd"]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]