bem/code/bem_nodered_flow_1.30.json
[{"id":"64ae9d397a04429b","type":"tab","label":"BEM 1.30","disabled":false,"info":"","env":[]},{"id":"92d4c1802506de9f","type":"inject","z":"64ae9d397a04429b","name":"1. Entnahme Beginn (vor bzw. mit \\n Beginn der Entnahme triggern)","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":900,"wires":[["e79af9e315c8c6b9"]]},{"id":"33f3e990c51aad87","type":"api-current-state","z":"64ae9d397a04429b","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.bem_stand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":960,"wires":[["b0fb771dcb626d3b"]]},{"id":"b0fb771dcb626d3b","type":"api-call-service","z":"64ae9d397a04429b","name":"Füllstand bei Entnahmebeginn merken (speichern)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_stand_bei_beginn_letzter_entnahme"],"data":"{\"value\":stand_beginn}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":960,"wires":[["e033d1d3992b3b1d","6e9e2ca0c5349ffd"]]},{"id":"98c8aabe64a2b7ac","type":"inject","z":"64ae9d397a04429b","name":"Aktuellen Füllstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":420,"wires":[["e0ef890c3cdad74e"]]},{"id":"e0ef890c3cdad74e","type":"api-current-state","z":"64ae9d397a04429b","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.bem_stand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":420,"wires":[["23d90828dba34af9"]]},{"id":"23d90828dba34af9","type":"debug","z":"64ae9d397a04429b","name":"Aktueller Füllstand des Behälters","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":420,"wires":[]},{"id":"080637658a4eb3fc","type":"inject","z":"64ae9d397a04429b","name":"2. Entnahme Ende (nach bzw. mit \\n Ende der Entnahme triggern)","props":[{"p":"simulation","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":1060,"wires":[["7409c6b459ee3f6b"]]},{"id":"8706b9f2c93ce800","type":"api-current-state","z":"64ae9d397a04429b","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.bem_stand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_ende","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":1160,"wires":[["8d26bde9ae097a78"]]},{"id":"8773047d5a1d568a","type":"inject","z":"64ae9d397a04429b","d":true,"name":"Letzte Entnahme zurücksetzen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":600,"wires":[["664e0e2b3e01e670"]]},{"id":"664e0e2b3e01e670","type":"api-call-service","z":"64ae9d397a04429b","name":"Letzte Entnahme auf 0 setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_letzte"],"data":"{\"value\":0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":600,"wires":[[]]},{"id":"7ab49b93fde3a492","type":"inject","z":"64ae9d397a04429b","name":"Gesamtentnahme anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":540,"wires":[["0965646563845bf1"]]},{"id":"0965646563845bf1","type":"api-current-state","z":"64ae9d397a04429b","name":"Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":540,"wires":[["42eed521f0a27ac7"]]},{"id":"42eed521f0a27ac7","type":"debug","z":"64ae9d397a04429b","name":"Gesamtentnahme seit letztem Zurücksetzen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":540,"wires":[]},{"id":"8d26bde9ae097a78","type":"api-current-state","z":"64ae9d397a04429b","name":"Bei Entnahmebeginn gespeicherten Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_stand_bei_beginn_letzter_entnahme","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1160,"wires":[["c2d198ca3f445d9a"]]},{"id":"60d67923a63697eb","type":"change","z":"64ae9d397a04429b","name":"Differenz (letzte Entnahme) berechnen","rules":[{"t":"set","p":"entnahme_letzte","pt":"msg","to":"stand_beginn - stand_ende","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1220,"wires":[["fa6d7e4ac6aadfba","c7db0a1d5c8dc968"]]},{"id":"fa6d7e4ac6aadfba","type":"api-current-state","z":"64ae9d397a04429b","name":"Letzte Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_gesamt","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":1220,"wires":[["d47bfe4f69024853","96a6516c49fd4a1f"]]},{"id":"d47bfe4f69024853","type":"change","z":"64ae9d397a04429b","name":"Neue Gesamtentnahme berechnen","rules":[{"t":"set","p":"entnahme_gesamt","pt":"msg","to":"entnahme_gesamt + entnahme_letzte","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1280,"wires":[["fa2121e5639621a8"]]},{"id":"fa2121e5639621a8","type":"api-call-service","z":"64ae9d397a04429b","name":"Neue Gesamtentnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":entnahme_gesamt}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1280,"y":1340,"wires":[["56dd2c7136ee5761","549589ac433cf251"]]},{"id":"6e9e2ca0c5349ffd","type":"debug","z":"64ae9d397a04429b","name":"Stand vor Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stand_beginn","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":960,"wires":[]},{"id":"549589ac433cf251","type":"debug","z":"64ae9d397a04429b","name":"Gesamtentnahme nach letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":1460,"wires":[]},{"id":"96a6516c49fd4a1f","type":"debug","z":"64ae9d397a04429b","name":"Gesamtentnahme vor letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":1220,"wires":[]},{"id":"40f1e740c7edf6e5","type":"comment","z":"64ae9d397a04429b","name":"Werte anzeigen und löschen","info":"","x":160,"y":360,"wires":[]},{"id":"91a4acc5442a6c21","type":"comment","z":"64ae9d397a04429b","name":"Automatisierungen \\n ACHTUNG: Zur korrekten Berechnung muss immer zuerst Flow 1 und danach Flow 2 ausgeführt werden! \\n Dazu idealerweise Flow 1 direkt vor der Entnahme und Flow 2 direkt nach der Entnahme durchführen. \\n Der Flow 2 (Ende der Entnahme) kann optional auch mit dem Simulations-Button getriggert werden, wodurch \\n eine zufällige Entnahmemenge erzeugt und gespeichert wird (der reale Füllstand bleibt dabei unverändert).","info":"","x":410,"y":780,"wires":[]},{"id":"25fc0e6ac953327d","type":"comment","z":"64ae9d397a04429b","name":"BEM 1.30 | Behälter-Entnahme-Messung | Entnahmemengen einzeln und gesamt erfassen","info":"","x":350,"y":60,"wires":[]},{"id":"6fd61de9ed3e0c45","type":"comment","z":"64ae9d397a04429b","name":"HINWEISE: \\n Benötigt werden folgende Helfer in Home Assistant: \\n - sensor.bem_stand_aktuell (Arbeitskopie des realen Füllstand-Sensors) \\n - input_boolean.bem_entnahme_status (Status der Entnahme) \\n sowie \\n - input_number.bem_entnahme_gesamt (insgesamt entnommene Menge) \\n - input_number.bem_entnahme_letzte (letzte einzeln entnommene Menge) \\n - input_number.bem_stand_bei_beginn_letzter_entnahme (Füllstand zu Beginn der letzten Entnahme)","info":"","x":390,"y":200,"wires":[]},{"id":"c7db0a1d5c8dc968","type":"api-call-service","z":"64ae9d397a04429b","name":"Differenz / letzte Entnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_letzte"],"data":"{\"value\":entnahme_letzte}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":1280,"wires":[["ec30d921e68d5e0c"]]},{"id":"ec30d921e68d5e0c","type":"debug","z":"64ae9d397a04429b","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_letzte","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":1340,"wires":[]},{"id":"5f8652c7f9a8085d","type":"inject","z":"64ae9d397a04429b","name":"Letzte Entnahmemenge anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":480,"wires":[["673ec221e604bac6"]]},{"id":"673ec221e604bac6","type":"api-current-state","z":"64ae9d397a04429b","name":"Letzte Entnahmemenge einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_letzte","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":480,"wires":[["a81c7c630c54a2bb"]]},{"id":"a81c7c630c54a2bb","type":"debug","z":"64ae9d397a04429b","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":480,"wires":[]},{"id":"e79af9e315c8c6b9","type":"api-current-state","z":"64ae9d397a04429b","name":"Entnahmestatus ermitteln","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bem_entnahme_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_status","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":900,"wires":[["bcee9a5f91ac019e"]]},{"id":"bcee9a5f91ac019e","type":"switch","z":"64ae9d397a04429b","name":"Status prüfen","property":"entnahme_status","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"neq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":900,"wires":[["346c043fd01d09d8"],["33f3e990c51aad87"]]},{"id":"346c043fd01d09d8","type":"debug","z":"64ae9d397a04429b","name":"Abbruch: Es wurde bereits eine Entnahme begonnen!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_status","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":900,"wires":[]},{"id":"a3aaf2329e84b9e4","type":"debug","z":"64ae9d397a04429b","name":"Abbruch: Es wurde noch keine neue Entnahme begonnen!","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_status","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":1100,"wires":[]},{"id":"e033d1d3992b3b1d","type":"api-call-service","z":"64ae9d397a04429b","name":"Entnahmestatus auf \"begonnen\" setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.bem_entnahme_status"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":1020,"wires":[[]]},{"id":"56dd2c7136ee5761","type":"api-call-service","z":"64ae9d397a04429b","name":"Entnahmestatus auf \"beendet\" setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.bem_entnahme_status"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":1400,"wires":[[]]},{"id":"7409c6b459ee3f6b","type":"api-current-state","z":"64ae9d397a04429b","name":"Entnahmestatus ermitteln","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bem_entnahme_status","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_status","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":490,"y":1100,"wires":[["e92086d3e8954108"]]},{"id":"e92086d3e8954108","type":"switch","z":"64ae9d397a04429b","name":"Status prüfen","property":"entnahme_status","propertyType":"msg","rules":[{"t":"neq","v":"on","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1100,"wires":[["a3aaf2329e84b9e4"],["8706b9f2c93ce800"]]},{"id":"713d28ab61f81293","type":"random","z":"64ae9d397a04429b","name":"Zufällige Entnahme von 1 - 100","low":"1","high":"100","inte":"false","property":"entnahme_letzte","x":550,"y":1280,"wires":[["fa6d7e4ac6aadfba","c7db0a1d5c8dc968"]]},{"id":"efdf9876e73f2770","type":"inject","z":"64ae9d397a04429b","name":"Entnahme Ende \\n SIMULATION","props":[{"p":"simulation","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":200,"y":1140,"wires":[["7409c6b459ee3f6b"]]},{"id":"7c02f797322dc270","type":"debug","z":"64ae9d397a04429b","name":"Abbruch: Füllstand zu niedrig","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stand_beginn","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":1320,"wires":[]},{"id":"c2d198ca3f445d9a","type":"switch","z":"64ae9d397a04429b","name":"Simulation?","property":"simulation","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1240,"wires":[["60d67923a63697eb"],["66cce4eb9054bc09"]]},{"id":"66cce4eb9054bc09","type":"switch","z":"64ae9d397a04429b","name":"Fülstand mindestens 100","property":"stand_ende","propertyType":"msg","rules":[{"t":"gte","v":"100","vt":"num"},{"t":"lt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":1300,"wires":[["713d28ab61f81293"],["7c02f797322dc270"]]},{"id":"4f9337f549b2bf7e","type":"inject","z":"64ae9d397a04429b","d":true,"name":"Gesamtentnahme zurücksetzen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":660,"wires":[["8f08a4cc3720dc77"]]},{"id":"8f08a4cc3720dc77","type":"api-call-service","z":"64ae9d397a04429b","name":"Gesamtentnahme auf 0 setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":660,"wires":[[]]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]