bem/code/bem_nodered_flow_1.00.json
[{"id":"216d01cae493e03f","type":"tab","label":"BEM 1.00","disabled":false,"info":"","env":[]},{"id":"c020639e71e793b5","type":"inject","z":"216d01cae493e03f","name":"1. Entnahme Beginn (vor bzw. mit \\n Beginn der Entnahme triggern)","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":760,"wires":[["b67b37e9b9321650"]]},{"id":"b67b37e9b9321650","type":"api-current-state","z":"216d01cae493e03f","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":760,"wires":[["96b8b011dab018d9"]]},{"id":"96b8b011dab018d9","type":"api-call-service","z":"216d01cae493e03f","name":"Füllstand bei Entnahmebeginn merken (speichern)","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_stand_bei_beginn_letzter_entnahme"],"data":"{\"value\":stand_beginn}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":760,"wires":[["23371febeb78748c"]]},{"id":"bdf278bb6df28b4d","type":"inject","z":"216d01cae493e03f","name":"Aktuellen Füllstand anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":380,"wires":[["a0e6b9913b01397b"]]},{"id":"a0e6b9913b01397b","type":"api-current-state","z":"216d01cae493e03f","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":380,"wires":[["d14b945098c0d206"]]},{"id":"d14b945098c0d206","type":"debug","z":"216d01cae493e03f","name":"Aktueller Füllstand des Behälters","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":380,"wires":[]},{"id":"bc8e2e26e96cf15e","type":"inject","z":"216d01cae493e03f","name":"2. Entnahme Ende (nach bzw. mit \\n Ende der Entnahme triggern)","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":840,"wires":[["137d92478837f553"]]},{"id":"137d92478837f553","type":"api-current-state","z":"216d01cae493e03f","name":"Aktuellen Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"sensor.behaelter_fuellstand_aktuell","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_ende","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":840,"wires":[["810ddadba953bab6"]]},{"id":"fa8a19071ce7af1b","type":"inject","z":"216d01cae493e03f","d":true,"name":"Gesamtentnahme zurücksetzen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":560,"wires":[["b0ac7c0b4cc43cb3"]]},{"id":"b0ac7c0b4cc43cb3","type":"api-call-service","z":"216d01cae493e03f","name":"Gesamtentnahme auf 0 Liter setzen","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":0}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":560,"wires":[[]]},{"id":"7f9630669c1f651b","type":"inject","z":"216d01cae493e03f","name":"Gesamtentnahme anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":500,"wires":[["3c1a8bec6cde7b3f"]]},{"id":"3c1a8bec6cde7b3f","type":"api-current-state","z":"216d01cae493e03f","name":"Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":500,"wires":[["edc2cf3bc49d48e9"]]},{"id":"edc2cf3bc49d48e9","type":"debug","z":"216d01cae493e03f","name":"Gesamtentnahme seit letztem Zurücksetzen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":500,"wires":[]},{"id":"810ddadba953bab6","type":"api-current-state","z":"216d01cae493e03f","name":"Bei Entnahmebeginn gespeicherten Füllstand einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_stand_bei_beginn_letzter_entnahme","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"stand_beginn","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":840,"wires":[["4e63832219ae5708"]]},{"id":"4e63832219ae5708","type":"change","z":"216d01cae493e03f","name":"Differenz (letzte Entnahme) berechnen","rules":[{"t":"set","p":"entnahme_letzte","pt":"msg","to":"stand_beginn - stand_ende","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":900,"wires":[["5afb4ad16cdfa075","6e8b8058efd8a3de"]]},{"id":"5afb4ad16cdfa075","type":"api-current-state","z":"216d01cae493e03f","name":"Letzte Gesamtentnahme einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_gesamt","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"entnahme_gesamt","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":900,"wires":[["922cc99ae9655ca2","51c66a578f6ed739"]]},{"id":"922cc99ae9655ca2","type":"change","z":"216d01cae493e03f","name":"Neue Gesamtentnahme berechnen","rules":[{"t":"set","p":"entnahme_gesamt","pt":"msg","to":"entnahme_gesamt + entnahme_letzte","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":960,"wires":[["ccb5f2033600bd05"]]},{"id":"ccb5f2033600bd05","type":"api-call-service","z":"216d01cae493e03f","name":"Neue Gesamtentnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_gesamt"],"data":"{\"value\":entnahme_gesamt}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":880,"y":1020,"wires":[["d2e8ee8cf6c89024"]]},{"id":"23371febeb78748c","type":"debug","z":"216d01cae493e03f","name":"Stand vor Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"stand_beginn","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":760,"wires":[]},{"id":"d2e8ee8cf6c89024","type":"debug","z":"216d01cae493e03f","name":"Gesamtentnahme nach letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":1020,"wires":[]},{"id":"51c66a578f6ed739","type":"debug","z":"216d01cae493e03f","name":"Gesamtentnahme vor letzter Entnahme","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_gesamt","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":900,"wires":[]},{"id":"cb58a8b644817d75","type":"comment","z":"216d01cae493e03f","name":"Werte anzeigen und löschen","info":"","x":160,"y":320,"wires":[]},{"id":"1c852f8122383375","type":"comment","z":"216d01cae493e03f","name":"Automatisierungen \\n ACHTUNG: Zur korrekten Berechnung muss immer zuerst Flow 1 und danach Flow 2 ausgeführt werden! \\n Dazu idealerweise Flow 1 direkt vor der Entnahme und Flow 2 direkt nach der Entnahme durchführen.","info":"","x":400,"y":660,"wires":[]},{"id":"f6e5dafaff3593da","type":"comment","z":"216d01cae493e03f","name":"BEM 1.00 | Behälter-Entnahme-Messung | Entnahmemengen einzeln und gesamt erfassen","info":"","x":350,"y":60,"wires":[]},{"id":"fee28cab7a128a8a","type":"comment","z":"216d01cae493e03f","name":"HINWEISE: \\n In allen Nodes namens \"Aktuellen Füllstand einlesen\" die Entität \"sensor.behaelter_fuellstand_aktuell\" durch den eigenen tatsächlichen Sensor ersetzen.  \\n ---------- \\n Benötigt werden folgende Helfer aus Home Assistant: \\n - input_number.bem_stand_bei_beginn_letzter_entnahme (Füllstand des Behälters zu Beginn der letzten Entnahme) \\n - input_number.bem_entnahme_letzte (letzte einzeln entnommene Menge)  \\n - input_number.bem_entnahme_gesamt (insgesamt entnommene Menge)","info":"","x":540,"y":180,"wires":[]},{"id":"6e8b8058efd8a3de","type":"api-call-service","z":"216d01cae493e03f","name":"Differenz / letzte Entnahme speichern","server":"e5ff3427.b49de8","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.bem_entnahme_letzte"],"data":"{\"value\":entnahme_letzte}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":960,"wires":[["d2f9412a056c117b"]]},{"id":"d2f9412a056c117b","type":"debug","z":"216d01cae493e03f","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"entnahme_letzte","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":1020,"wires":[]},{"id":"a6648ae03880c490","type":"inject","z":"216d01cae493e03f","name":"Letzte Entnahmemenge anzeigen","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":440,"wires":[["e387bbc906d74284"]]},{"id":"e387bbc906d74284","type":"api-current-state","z":"216d01cae493e03f","name":"Letzte Entnahmemenge einlesen","server":"e5ff3427.b49de8","version":3,"outputs":1,"halt_if":"","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.bem_entnahme_letzte","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":520,"y":440,"wires":[["c0dcc3063e8151e9"]]},{"id":"c0dcc3063e8151e9","type":"debug","z":"216d01cae493e03f","name":"Zuletzt entnommene Menge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"e5ff3427.b49de8","type":"server","name":"Home Assistant","addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","statusSeparator":"","enableGlobalContextStore":false}]